[2022-02-25 12:11] eyalb181 opened #6 "Sometimes mirrord agent pods aren't deleted"
In some cases, the pod that mirrord creates isn't deleted and lives forever in the cluster (until deleted manually).

[2022-03-10 15:07] 7onn opened #14 "CLI Error"
After installing the `mirrord CLI`, It didn't turn available through my terminal.

[code]

If further information is required for your investigation, don't hesitate to ask me for it.

[2022-03-10 15:15] 7onn opened #15 "VSCode extension doesn't list pods outside the default namespace"
**Description**:
I went to test the extension with an app written in Golang which runs outside of my cluster's default namespace. After clicking on `Start mirrord` in the status bar, only pods placed in the default namespace are listed. Because of this, I wasn't able to proceed with the tests.

**Notes**:
I'm not sure what useful information I could add here since the debugging mode never got to r

[2022-03-11 06:14] aviramha commented on #14
Could you please share what OS you're running on?

[2022-03-11 13:15] 7onn commented on #14
[code]

[2022-03-12 11:01] #15 closed

[2022-03-12 11:07] eyalb181 commented on #15
Released version 1.1.0 of the extension, which adds a settings button which lets you change the namespace and the remote port. Thanks @7onn for the input!

[2022-03-12 15:41] #14 closed

[2022-04-28 07:39] aviramha opened #22 "Refactor to support next features"
Right now, mirrord can only duplicate traffic from the remote cluster.
We want mirrord to be able to run a process in the context of the remote environment - granting the process access to remote resources (files, environment variables and networking).
In order to accomplish that, we're re-writing mirrord with a new design.
The new design is implemented using hooking syscalls via loading our "so"

[2022-04-28 07:41] aviramha opened #23 "Adapt VSCode extension to new mirrord"

[2022-04-28 07:41] aviramha opened #24 "IntelliJ Extension"
We want to have similar functionality and user experience in the IntelliJ extension as we have for VSCode.
We haven't researched how the API looks for IntelliJ but in general it should let the developer run the program with mirrord, and let it select pods in a nice way.

[2022-04-28 07:46] aviramha commented on #6
This will be solved by #22 (agent automatically dies if no connection exists)

[2022-04-28 07:56] aviramha opened #25 "Use remote service environment variables"
When a process is ran using mirrord, we want to be able to set it's environment variables to mirror the remote service one's.

### Proposed UX

1. Configuration called REMOTE_ENV - boolean, default true.
2. OVERRIDE_ENV - list of key-(optional)value of environment variables. if value is not provided, use the "original" environment variable.

### Implementation

There are various ways we can implem

[2022-04-28 12:19] aviramha opened #26 "Remote file support"
Add support for accessing remote files.

Add a new setting that enables/disables (enabled by default) remote files. When enabled, each file opened is bridged to a remote file on the agent.

[2022-04-28 12:23] aviramha opened #27 "Remote network support"
Add support for accessing network resources from the remote service context.
This includes dns resolving.

This will add an option that once enabled, all outgoing traffic will be sent from the remote agent context instead of the local context.

Some example use cases:

- User wants their local process to make an API call to another service in the k8s cluster. When the local process makes a request

[2022-04-28 12:24] aviramha opened #28 "Windows Support"
Currently, we support only macOS and Linux.
Adding Windows support means researching and implementing the hook layer & abstractions for Windows API.

Please upvote so we know if this feature is needed.

[2022-05-08 18:44] eyalb181 opened #35 "Add E2E tests"
Add a suite of E2E tests to test the integration between the layer and the agent.

[2022-05-09 14:32] aviramha opened #39 "Support ip certificates"
After we transitioned into using RustTLS in #33 we found out that RustTLS doesn't work with IP hosts, hence causing mirrord to not work in cases like minikube, which is required for #35.
Solution seems to be using https://github.com/rustls/rustls-native-certs + building kube rs client and adding those certificates.

[2022-05-09 16:36] eyalb181 opened #41 "mirrord-layer deadlocks if accept is called when there's no data"
### Bug Description

When accept is called before a connection is read from the agent, it locks the connections struct and there's a deadlock.

### Steps to Reproduce

Simulate a delay so that accept is called before a connection is read from the agent.

### Backtrace

_No response_

### Your operating system and version

MacOS

### Your Node version (`node --version`)

N/A

### Additional Info

_

[2022-05-09 16:38] eyalb181 opened #42 "When running with VSCode's Node debugger, mirrord hooks and breaks an internal socket"
### Bug Description

VSCode's Node debugger uses a socket for some internal mechanism. Mirrord hooks it, breaking the flow. We should be able to overlook these sockets.

### Steps to Reproduce

Debug a node process in VSCode with mirrord-layer in LD_PRELOAD.

### Backtrace

_No response_

### Your operating system and version

MacOS

### Your Node version (`node --version`)

v17.6.0

### Additiona

[2022-05-10 17:11] eyalb181 opened #45 "Enabling toggling different features via configuration"
We should let users turn different features on and off - i.e. if they only want incoming traffic but not file reads, etc.

[2022-05-10 17:59] aviramha commented on #39
Following the trails, it seems the issue is actually https://github.com/rustls/rustls/issues/184 that can be fixed only after https://github.com/briansmith/webpki/pull/260

[2022-05-11 17:14] aviramha commented on #39
#47 helps elevate the issue for now, but keeping this open until upstream is merged and it's really fixed.

[2022-05-11 19:16] aviramha commented on #42
Closed via #44

[2022-05-11 19:16] #42 closed

[2022-05-11 19:16] aviramha commented on #41
Closed via #44

[2022-05-11 19:16] #41 closed

[2022-05-15 12:39] eyalb181 opened #50 "v2.0 Test Plan"
## 1. Core (Layer + Agent)

1. Happy Flow (Run for Node.js, FastAPI)
    1. Run a process that prints data received with the mirrord env variables
    2. Send three different requests to the impersonated pod
    3. For each request, assert that the correct data was printed
    4. Stop the process
    5. After 30 seconds, assert that the job and agent were both deleted from the cluster
2. Wrong Pod

[2022-05-15 12:40] aviramha commented on #50
I would add WSL check for vs code extension.

[2022-05-16 05:35] infiniteregrets opened #51 "Add detours for dup/dup2/fcntl system calls"
When mirrord exec is called with a simple flask API (https://gist.github.com/infiniteregrets/ba753ffb53ff8b98b2dd8f5051323919), where port 80/any other port is explicitly specified, the application seems to ignore that and instead assign a different port. This could perhaps be due to a call to `dup` or `fcntl` with `F_DUPFD/F_DUPFD_CLOEXEC` flags where mirrord is not aware of the new sockfd and pr

[2022-05-16 06:09] infiniteregrets opened #53 "mirrord extract panics on non-existent directories"
[code]
It would be nicer to handle the Result type gracefully and return an error or maybe prompt the user whether they want to create the directory (only useful for CLI users)

[2022-05-17 06:21] aviramha commented on #51
Thanks for reporting this issue.
Short brief about what `dup` or `fcntl` with `F_DUPFD*` does is that it creates a new fd that is linked to the same structure in the kernel as the first. Some sort of a soft symbolic link.
The way I see it, we can solve it in 2 ways:
1. When `dup` (and other options) is used, we clone the data structure to the new fd. It might create odd side effects, as from our p

[2022-05-17 06:25] aviramha commented on #53
I am against creating the directory as the extract functionality isn't really user-facing (in most cases). I am up for returning a nice message though.
It's an easy issue for new contributors, so let's leave it for them.?

[2022-05-17 06:33] meowjesty commented on #51
Don't like the sound of that,

I would go with the `Arc` solution, I think the additional complexity is more manageable than handling the different states.

[2022-05-17 07:55] infiniteregrets commented on #53
yes sounds good! once we have more related issues ill add this to one central tracking issue

[2022-05-19 10:31] eyalb181 opened #61 "Hooking getpeername and getsockname doesn't work in certain setups"
### Bug Description

When trying to hook getpeername and getsockname, we get the following error:
`thread '<unnamed>' panicked at 'called Result::unwrap() on an Err value: InterceptorBadSignature', mirrord-layer/src/sockets.rs:547:5`

I've changed it to use try_hook instead of hook to bypass the error. There's no effect on core functionality when this happens, but we don't correctly display the so

[2022-05-19 12:37] eyalb181 opened #62 "Support MIRRORD_AGENT_TTL as an argument in the CLI"
It's currently only usable as an environment variable.

[2022-05-19 16:38] eyalb181 opened #63 "After about 10 minutes of idle time, mirrord-layer starts reading empty messages"
### Bug Description

This isn't the result of the agent terminating, as logs indicate it's still alive when that happens.

### Steps to Reproduce

Start a process wrapped by mirrord-layer and wait for about 10 minutes.

### Backtrace

_No response_

### Your operating system and version

MacOS

### Your Node version (`node --version`)

17.6.0

### Additional Info

_No response_

[2022-05-19 16:41] eyalb181 opened #64 "Package the VSCode extension per platform in the CI"
Since the VSCode extension now includes the mirrord-layer binary, it should be packaged separately (using vsce's --target argument) for MacOS and Linux.

[2022-05-19 16:42] eyalb181 commented on #39
@aviramha So we have a workaround for this, right? Can we remove it from the 2.0 Milestone?

[2022-05-19 17:39] aviramha commented on #39
Yup

[2022-05-19 19:57] meowjesty commented on #26
Working on this #65

Still lacking the setting to enable/disable the feature though.

[2022-05-19 20:13] aviramha commented on #63
I believe this is some timeout, whether by websocket (k8s), kernel or maybe some network component in the way. I suggest adding a keep alive if no data for X duration

[2022-05-21 09:19] eyalb181 opened #68 "Update README for v2.0"

[2022-05-22 18:43] aviramha opened #69 "sockets fd isn't removed on close"
### Bug Description

We currently don't hook close, meaning that if a program runs close on a socket we manage we don't delete it from our managed fds.

### Steps to Reproduce

N/A

### Backtrace

_No response_

### Your operating system and version

N/A

### Your Node version (`node --version`)

N/A

### Additional Info

_No response_

[2022-05-23 08:44] eyalb181 commented on #6
Changed them to jobs rather than pods, which can be given a TTL. That solved the issue.

[2022-05-23 08:44] #6 closed

[2022-05-23 18:02] aviramha commented on #69
closed via #72

[2022-05-23 18:02] #69 closed

[2022-05-23 18:18] aviramha opened #74 "Revise issue templates"
Right now the Bugfix template doesn't match the new design of mirrord (asks for node version) so we need to think what needs to be collected in case of a bug.
I'd assume:
1. distro/os
2. binary being tried to run
3. version of binary
4. hash of it?

instructions to run with debug and print trace?
Feel free to add more stuff a bug report (or other issue templates) should cover.

[2022-05-24 14:44] aviramha opened #77 "Code sign our binaries"
Code sign our binaries for Apple (maybe for Linux as well?)

[2022-05-26 12:51] aviramha opened #90 "Add vscode ignore to VSCode extension"
As our CI complains:
[code]

Contributions welcome!

[2022-05-26 13:18] #22 closed

[2022-05-26 13:21] #64 closed

[2022-05-27 13:20] eyalb181 opened #95 "Add support for docker runtime"
We currently only support Kubernetes clusters using the containerd runtime. We need to add support for docker runtime as well. The containerd-specific code is in the agent where we get the linux namespace from the pod name, and in the pod creation in the layer.

[2022-05-29 10:08] #35 closed

[2022-05-29 10:09] #50 closed

[2022-05-31 09:16] eyalb181 opened #97 "Add auto-update"
When starting the CLI or the extension, they should check whether a new version of mirrord is available, and if it is, prompt the user to update.

[2022-05-31 10:09] aviramha opened #98 "Reduce compile time"
Right now compile time is quite long, and we don't have that much code.
Use this issue to track possible performance gains.
Concrete issues that can be worked on:

- [ ] #223
- [ ] #222
- [x] #221
- [x] #220

[2022-05-31 18:03] infiniteregrets opened #99 "Remove sleeps from E2E tests"
The node API creates a file in cwd on PUT and deletes the file on DELETE request. But to assert the file created exists, we are using a sleep which is not desirable. We need to add a watch which keeps track of create/remove/write filesystem events.
https://docs.rs/notify/latest/notify/ should be helpful.

[2022-05-31 19:16] aviramha opened #100 "Add ability to specify container name to impersonate"
Today, we pick up the first container in the pod we impersonate. This might not be the case for service mesh setups or more elaborate setups, so we need to let the user specify container name and maybe add a warning when we just assume and use the first one.
Also, we should consider ignoring linkerd/envoy containers by default (unless specified?)
Edit:

Status:
- [x]  @camerondurham added basic fu

[2022-05-31 19:18] aviramha opened #101 "Traffic steal"
Allow user to "steal" incoming traffic from the remote pod.
First version of this feature will steal all incoming traffic.

[2022-05-31 19:24] aviramha commented on #101
I investigated how linkerd works as it's a good model on what we want to achieve - when we intercept connections we want to detect and understand if we want to "steal" it and later on we want to steal only specific requests based on filter.
Initially, I believed we could just use components from linkerd2-proxy codebase but I realized it was too coupled for its use case, so now my goal is to implem

[2022-06-03 10:44] #63 closed

[2022-06-03 12:25] #95 closed

[2022-06-03 14:04] infiniteregrets opened #108 "Specify custom names for agent image in E2E tests"
The agent image once built is tagged as `test:latest`, this results in an `Elapsed` error if the image is not loaded to minikube by any chance, so we should not be hardcoding this. It would be nice to be able to specify the image as an environment variable  and read from it, and do the same in the CI.

[2022-06-03 14:52] infiniteregrets opened #110 "mirrord-layer panics without any relevant info if the agent exits"
If mirrord-agent exits i.e. if layer reaches its timeout before the agent even started, mirrord-layer panics with an `Elapsed` error without giving any context what went wrong. It would be nice to remove the unwrap here: https://github.com/metalbear-co/mirrord/blob/main/mirrord-layer/src/pod_api.rs#L163 and handle the error gracefully providing good context and logs.

[2022-06-03 15:11] infiniteregrets opened #112 "Handle Job/Pod creation errors in mirrord-layer"
The Job/Pod creation in mirrord-layer while creating the agent could result in errors mentioned here https://docs.rs/kube/latest/kube/enum.Error.html and we should handle them instead of a panic.

[2022-06-03 21:04] KalenWessel opened #114 "Incompatible architecture (have 'arm64', need 'x86_64)"
### Bug Description

Mirrord v2.1.0 fails to mirror traffic on Mac M1 due to an incompatible mach-o file.

### Steps to Reproduce

1. curl -fsSL https://raw.githubusercontent.com/metalbear-co/mirrord/main/scripts/install.sh | bash
2. mirrord exec node app.js -n my-app -p my-app-8vqpp

### Backtrace

[code]

### Your operating system and version

OSX 12.3.1

### Your Node version (`node --version`)

[2022-06-04 13:32] aviramha commented on #114
Hey @KalenWessel 👋
Thanks for reporting this issue!
We believe this is happening because you're running x86 version of Node while your machine is arm64, which is quite odd (it means that your node runs in Rosetta emulator, meaning worse performance.
We're thinking on how to still make it work in such case (as it'll probably be a common, and sometimes you really don't have native alternative). In t

[2022-06-04 21:06] eyalb181 commented on #108
I don't follow your reasoning here, what scenario are you trying to avoid? When would the image not be loaded to minikube - doesn't the E2E flow handle this?

[2022-06-04 21:07] eyalb181 commented on #101
"Detect and understand if we want to "steal" it" - based on what?

[2022-06-04 21:10] eyalb181 commented on #97
Added in 2.1.0.

[2022-06-04 21:10] #97 closed

[2022-06-06 02:13] KalenWessel commented on #114
@aviramha You're right, it is an x86_64 node.

`~/.nvm/versions/node/v12.22.12/bin/node: Mach-O 64-bit executable x86_64`

[2022-06-06 09:25] aviramha commented on #114
Great! Thanks. We're working on a solution, will ping you here once we release it! :)

[2022-06-07 08:11] #53 closed

[2022-06-07 11:04] #74 closed

[2022-06-07 12:13] #26 closed

[2022-06-07 12:32] eyalb181 opened #120 "Support ls"
Our files feature currently support most of the relevant syscalls, but we still need to add support for ls.

After #904, this is what is left to be done (prioritized)

- [x]  Go Linux x86-64 (same flow/integration test should work~)
- [x]  Python list directory
- [x]  Node list directory
- [ ] `ls` binary - macOS
- [ ] `ls` binary - Linux
- [ ]  All of the libc functions:
  - [X] opendir
  - [X] f

[2022-06-07 15:49] #108 closed

[2022-06-08 02:51] meowjesty opened #123 "Add miri to CI"
From [miri](https://github.com/rust-lang/miri#miri) description:

I think this is a good tool for us to have on [CI](https://github.com/rust-lang/miri#running-miri-on-ci).

[2022-06-08 08:08] aviramha opened #125 "Can't execute"
### Bug Description

mirrord-cli in release (downloaded from the script/compiled binary) gets killed when executing the process on macOS

### Steps to Reproduce

1. download release build
2. `mirrord exec --pod-name test-pod python`
3. kill

### Backtrace

[code]

### Relevant Logs

_No response_

### Your operating system and version

21.5.0 Darwin Kernel Version 21.5.0: Tue Apr 26 21:08:37 PDT 2

[2022-06-08 08:09] aviramha commented on #125
This seems to happen only when extracting to `$TMPDIR` but not when using `/tmp/` for some reason.

[2022-06-08 08:41] aviramha opened #126 "Add macOS to e2e matrix"

[2022-06-08 11:53] aviramha commented on #125
Somehow it doesn't happen to me again, there's something very odd going on. Let's keep this open in case someone else starts having it.

[2022-06-08 19:57] #51 closed

[2022-06-09 11:10] eyalb181 opened #131 "Support emulated processes on M1 in the VS Code extension"
Emulated processes are currently only supported in the CLI (see PR #122). We need to add support to the VS Code extension as well.

[2022-06-09 20:50] #99 closed

[2022-06-10 00:26] camerondurham commented on #112
Hi, Just saw this in TWIR 446. I'm interested in taking this issue if nobody else claims it. Thanks!

[2022-06-10 03:51] aviramha commented on #114
Hey we just released 2.2.0. Please let us know if it solved the issue for you.

[2022-06-10 13:44] infiniteregrets opened #137 "Add E2E tests for file operations"
With 2.2.0 release, we need e2e tests for the following functions:
- open
- fopen
- fdopen
- openat
- read
- fread
- fileno
- lseek
- write

[2022-06-10 13:49] infiniteregrets opened #138 "Add flag for file-worker in agent and re-enable the blackbox test"
The test https://github.com/metalbear-co/mirrord/blob/main/mirrord-agent/tests/blackbox.rs#L23 is currently being ignored, a fix would be to enable/disable file operations through a flag

[2022-06-10 13:51] infiniteregrets commented on #112
@camerondurham I have assigned you the issue, thanks!

[2022-06-13 15:33] aviramha commented on #27
I think this issue should be broken into few parts, here's a suggestion:

1. DNS Resolving - This should be done by hooking `getaddrbyname` and `getaddrinfo`. Should be a flag. (`MIRRORD_ENABLE_DNS` ?)
2. TCP Outgoing - We already hook most of the relevant functions, we need to handle `connect` flow, then connect from the remote agent, probably have a local "proxy" (using DuplexStream?) and `copy_

[2022-06-13 16:43] eyalb181 commented on #27
When would it make sense to turn on ENABLE_TCP without ENABLE_DNS?

[2022-06-13 16:50] aviramha commented on #27
When the services are accessible from your existing network I guess? but my thought was to split it into a feature flag just so it can be introduced partially, but ofc we can have a united flag for networking.

[2022-06-13 16:56] eyalb181 commented on #27
Okay, wanted to make sure there wasn't a use case I was missing here. I wouldn't split it into two flags, it seems like unnecessary complexity.

[2022-06-14 15:12] thedanvail commented on #62
Planning on looking at this once #144 is merged.

Looking at it now, my approach will probably be to edit the `ExecArgs` struct to add in the `MIRRORD_AGENT_TTL` that will override an environment variable. If it's not in the CLI args, I'll default back to the environment setting or the default setting of 0.

[2022-06-15 05:02] aviramha commented on #62
Awesome @thedanvail. Assigning this to you :)

[2022-06-15 06:26] aviramha opened #149 "Change e2e to use a "real app""
Right now the E2E uses something we found online (http echo) but that means that the TCP/HTTP session behavior can be different leading to odd reactions.
I think building our own docker image for the test would be better. It should be something that accepts the same APIs that our tests use, have files that we expect to have, etc.

Long story:
Right now we work on TCP level, and therefore if the ap

[2022-06-15 19:35] camerondurham commented on #112
Really sorry for not sending any updates. I haven't forgotten about this and will be able to work on it Friday.

[2022-06-16 04:30] IsaacCloos opened #152 "mirrord-cli : reqwest dependency missing "blocking" feature"
### Bug Description

mirrord-cli uses the "blocking" feature of [reqwest](https://crates.io/crates/reqwest):
https://github.com/metalbear-co/mirrord/blob/255fbe55262019f282010951d9d6f8158ec2530d/mirrord-cli/src/main.rs#L193

but does not enable that feature in its toml file
https://github.com/metalbear-co/mirrord/blob/255fbe55262019f282010951d9d6f8158ec2530d/mirrord-cli/Cargo.toml#L26

should look

[2022-06-16 05:43] aviramha commented on #152
Thanks for the detailed report! Are you interested in sending a PR?

[2022-06-16 10:21] eyalb181 commented on #112
No worries @camerondurham, let us know you need any help.

[2022-06-16 15:41] JunchengL commented on #125
Hi, I am testing mirrord with GKE cluster and I have the same issue on version 2.2.0 with the same os and kernel version.
And when I use version 2.2.1 I have another error
[code]

[2022-06-16 15:48] aviramha commented on #125
@JunchengL Thanks for reporting! This seems to be because the cluster host is non standard (IP or not TLS?). You can add the flag `-c` to the `mirrord exec` so it will accept this anomaly.
Let me know if this works for you and if so we'll create an issue to provide better error and also document it :)

[2022-06-16 15:56] JunchengL commented on #125
It is working with -c, I can continue my test. thanks a lot !
My hostname pattern is this one `my-mirrord-test`

[2022-06-16 18:20] JunchengL commented on #125
ah I have misunderstood. The server filed is an IP with something like this:
`server: https://x.x.x.x`

[2022-06-16 19:51] jo3bingham commented on #98
I saw that `lto` was marked `true`, aka `fat`, in cargo.toml. Has `thin` been tested? https://doc.rust-lang.org/cargo/reference/profiles.html#lto

[2022-06-16 22:05] TawalMc commented on #90
Hi, I'm junior web dev, and currently learn Rust, and want to contribue to this project....
So what can you do to help on this issues... ?

[2022-06-17 04:47] aviramha commented on #98
@jo3bingham Thanks for the suggestion. My main concern when opening this issue was mainly CI and not release, which happens less often and we can "pay" the time for better performance.

[2022-06-17 04:49] aviramha commented on #90
Hi @TawalMc, That's great and you're more than welcome. Do you wish to work on this specific issue?
The work that needs to be done here is to use `.vscodeignore` file when building our extension ignoring files that doesn't matter, making sure when we package the extension only required files are packed to reduce extension size.

[2022-06-17 16:27] thedanvail commented on #62
Addressed in #156

[2022-06-17 16:31] #62 closed

[2022-06-17 16:31] aviramha commented on #62
Thank you!

[2022-06-19 09:37] eyalb181 commented on #131
Resolved in #147

[2022-06-19 09:37] #131 closed

[2022-06-19 15:08] thedanvail commented on #137
I can start work on this tomorrow!

[2022-06-19 18:16] eyalb181 commented on #137
Amazing, thanks!

[2022-06-20 17:31] infiniteregrets opened #160 "Cannot test file-ops with mirrord VSCode extension"
### Bug Description

mirrord's VSCode extension fails to debug the local process.

### Steps to Reproduce

- Add this configuration to your launch.json:
[code]
- Start debugging and choose the impersonated pod

### Backtrace

[code]
[code]

[2022-06-20 19:52] #152 closed

[2022-06-21 02:48] infiniteregrets commented on #137
currently, we do have tests for
- read
- write
- open (this is tested through read/write, so we dont need an explicit test)
- openat
- lseek

[2022-06-21 04:06] thedanvail commented on #137
So, then, the list of tests for this issue:

- [x] open
- [ ] fopen
- [ ] fdopen
- [x] openat
- [x] read
- [ ] fread
- [ ] fileno
- [x] lseek
- [x] write

[2022-06-21 04:10] infiniteregrets opened #162 "Tracking issue to make functionality common between file and network ops"
Functions like dup/dup2, fcntl, read, write etc. should be common for file and network operations and this tracking issue will be used to keep track of the progress till functionality between hooks is merged

[2022-06-21 04:54] infiniteregrets commented on #137
@thedanvail it would be nice if we could just figure cases where python calls `f` family functions i.e. some real world scenarios and replicate them for the E2E. The tests implemented currently are for python only, would you be interested in working on tests for nodejs? Happy to help you in any possible way (:

[2022-06-21 04:56] infiniteregrets commented on #137
Also we should probably separate the tests for open into various scenarios, so that we know which case went wrong

[2022-06-21 05:50] infiniteregrets commented on #149
Sample deployment file with the python flask server
[code]

[2022-06-21 05:51] infiniteregrets commented on #149
Should we have separate deployments for node and python?

[2022-06-21 06:44] #25 closed

[2022-06-21 13:12] IsaacCloos commented on #77
Are you exploring any of these [community solutions](https://crates.io/search?q=codesign&sort=downloads), or are you intending to implement something custom?

Side question: is this only relevant to the cli product? Can the code issued to the VSCode marketplace also be signed for good reason?

[2022-06-21 14:05] thedanvail commented on #137
Sure, I can give that a shot - so I'll look at the `f` functions in Python and get some mock scenarios going. After that, I'll work on getting the node tests going, but for the sake of focus/PR size, I'll probably split the `node-e2e` tests into a separate PR from the `python-e2e` tests. If that sounds fair, I'll get crackin' - but I'll probably have some questions and, in which case, I'll communi

[2022-06-21 15:02] aviramha commented on #77
It's for the client side stuff - cli and dylib. It would make it easier to run the binary without having to authorizing it manually.
It shouldn't be a code change but a CD (github release action) modification probably.

[2022-06-21 19:32] eyalb181 commented on #137
Sounds great!

[2022-06-22 03:19] thedanvail commented on #149
@infiniteregrets If I'm understanding your question correctly - I.E. one container for node and one for python - I'm for separate containers. Reduces the complexity, makes the images smaller, and the CICD can still run checks on both before allowing to pass. It's totally possible there's something I don't know right now about some of the intricacies or maybe I'm misunderstanding the question, but

[2022-06-22 14:49] #138 closed

[2022-06-22 19:47] infiniteregrets commented on #120
openat was fixed in #151, detours for ls still pending but low priority

[2022-06-22 22:51] thedanvail commented on #137
Just a quick update: This week has turned out to be very busy at work, but I've started to take a look just for context so far. Real work _should_ begin tomorrow! Sorry for the delay!

[2022-06-23 20:06] eyalb181 commented on #112
Actually, a few of us do use M1s. We're currently having trouble working with minikube, so we're relying on remote clusters to test, but otherwise, things seem to be working. If you can elaborate on where you ran into trouble we might be able to help.
And don't worry about making a big deal out of it - it's really important for us to make onboarding easier for new contributors, so if we're able to

[2022-06-24 16:26] camerondurham commented on #112
The most basic dumb issue I was having was basically the same as this, compiling project in an arm based container on M1 and not able to build all the dependencies: https://github.com/metalbear-co/mirrord/discussions/135

[code]

I think a possible solution was already mentioned for the compiling `frida-gum-sys` step: https://github.com/metalbear-co/mirrord/discussions/135#discussioncomment-292779

[2022-06-28 14:41] #114 closed

[2022-06-28 14:42] aviramha opened #172 "Add support for using ephemeral containers"
https://kubernetes.io/docs/concepts/workloads/pods/ephemeral-containers/

We should use these for the mirrord-agent instead of jobs with TTL=0. Since they're currently in beta, they should be implemented with a feature flag.

[2022-06-29 05:03] #112 closed

[2022-06-29 05:03] #110 closed

[2022-06-29 05:09] infiniteregrets opened #174 "Remove unwrap and handle errors if the impersonated pod doesn't exist"
If the pod being impersonated does not exist, mirrord panics like so:

[code]

https://github.com/metalbear-co/mirrord/blob/main/mirrord-layer/src/pod_api.rs#L27
perhaps we should convert the return value to a `Result` type and use `?` with necessary changes on all ends.

[2022-06-29 05:52] infiniteregrets opened #176 "Remove unwraps and exit gracefully in the shared library constructor"
https://github.com/metalbear-co/mirrord/blob/main/mirrord-layer/src/lib.rs#L63

The shared library constructor has two unwraps in it, it would be nicer if we could just print to stderr and exit gracefully instead of rust panic.

[2022-06-29 18:30] #149 closed

[2022-06-30 05:41] infiniteregrets commented on #137
hi @thedanvail, just wanted to check in with you if you were able to get the tests to work.. please feel free to reach out in case you need any help! (:

[2022-06-30 08:57] aviramha commented on #137
Hey Dan,
I'm working on a refactor to the e2e, I'll probably do it in Python so writing e2e tests will be a bit easier (less concerns about safety & correctness there.)

[2022-06-30 13:12] thedanvail commented on #137
Sorry folks - this week has been very chaotic with some family issues and finishing up my final week at my job, so I've not been communicating as well as I could/should have. I'm working on it now, unless @aviramha you want to do it under the umbrella of work in your refactor? I can pick up a different issue if you do intend to cover this in your refactor.

[2022-06-30 15:22] thedanvail commented on #137
Yeah, just needed to leave as the company and myself aren't quite aligned anymore and I wanted to finish projects before I left so that I didn't leave them up in the air.

Duly noted - I'll take that into account!

[2022-06-30 18:37] oren0e commented on #98
I have two thoughts on this:
1. There is a heavy usage of derive macros, specifically with `thiserror:Error`. I know that these things reduce the need for extra boilerplate code but with the cost of longer compile times. Maybe some of those errors in the `error.rs` files could be implemented by hand?
2. Another possibility (although I don't know just by how much this will affect the compile times)

[2022-06-30 19:07] aviramha commented on #98
@oren0e Thanks for your suggestions! We'd love to check this out. If you're willing it'd be great to test and see if it benefits compile time and then consider doing the changes.

[2022-07-01 20:19] camerondurham commented on #100
I'd like to work on this issue. Thanks!

[2022-07-01 20:27] aviramha commented on #100
Great! Let us know if you need any help 😊

[2022-07-03 11:21] aviramha commented on #100
Thanks @camerondurham . I'm updating the ticket to reflect what needs to be added.

[2022-07-03 18:50] #126 closed

[2022-07-04 05:17] TawalMc commented on #90
Hi @aviramha , I'm sorry for the late response. I had some issues on windows with my rust setup so I installed a linux distro (manjaro) to be able to run this project.

Yes I want to work on this issues. Ok

[2022-07-04 07:50] aviramha commented on #100
@camerondurham Do you you wish to contribute the other open items as well? (making sure the assigned state is correct ;) )

[2022-07-04 07:54] aviramha opened #184 "Python example breaks on mirroring traffic on Apple Silicon"
### Bug Description

When running a python app with mirrord, we encounter a bug introduced by hooking `fcntl`.
It seems that our hook messes with the `var_args` of `fcntl`, causing it to break on M1/Apple Silicon.
This is probably a bug upstream in frida, so this is mostly a tracking to link between the two issues.

### Steps to Reproduce

`mirrord exec --pod-name nginx-deployment-66b6c48dd5-phrpl

[2022-07-04 07:56] camerondurham commented on #100
Hey @aviramha, I'm interested in finishing the other tasks as well if that's alright! I was running into a bug with the extension selection so sending the draft PR for now and can provide more context in `#dev` too...

[2022-07-04 08:50] aviramha commented on #100
That's more than alright! Feel free to consult with us on `#dev`

[2022-07-05 17:03] eyalb181 opened #186 "Add a Use Cases section to the mirrord homepage"
The section should be located under the download links/commands.
The use cases are as follows:

Development
No more complex and resource-intensive local setups. Plug the process you’re developing (or even just your terminal) directly into your staging environment as you work, and quickly test out database commands, API calls to other services, and more.

Testing
Wait for your CR to be approved, fo

[2022-07-05 17:05] eyalb181 opened #187 "Add a How It Works section to the mirrord homepage"
This section should be located under the Use Cases section. Text should read as follows:

How It Works
mirrord runs in two places - in the memory of your local process, and as a pod in your cloud environment. The two components work together to fuse your local process with its remote counterpart so that inputs to the remote pod are mirrored to the local process, and outputs from the local process

[2022-07-06 05:37] TawalMc commented on #176
Hi. I work on this issue.

Assign it to me.

[2022-07-06 12:34] aviramha commented on #184
Found a workaround, leaving this open until upstream is fixed

[2022-07-08 16:54] infiniteregrets opened #191 "Remove unwrap when mirrord agent is created"
error when there is no kubeconfig
[code]

we need to remove this https://github.com/metalbear-co/mirrord/blob/main/mirrord-layer/src/lib.rs#L75 unwrap in lib.rs and handle the error

[2022-07-08 18:17] infiniteregrets commented on #61
Tried to reproduce given the config shipped with mirrord but with `16-bullseye` variant which has rust configured
- installed kubectl from https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/#install-kubectl-binary-with-curl-on-linux
- logged into the remote cluster
seems like the calls are getting hooked just fine

[code]
closing as not reproducable

[2022-07-08 18:20] #61 closed

[2022-07-10 04:12] thedanvail commented on #137
PR added [here](https://github.com/metalbear-co/mirrord/pull/192)

[2022-07-11 06:31] ddjerqq commented on #191
sounds doable

[2022-07-11 06:34] infiniteregrets commented on #191
@ddjerqq hi! thanks for the interest. should I assign you the issue?

[2022-07-11 06:35] ddjerqq commented on #191
you're welcome and yeah totally

[2022-07-11 06:37] infiniteregrets commented on #191
thanks and done! let us know if you need any help here or on [discord](https://discord.gg/J5YSrStDKD)!

[2022-07-11 09:28] eyalb181 commented on #90
@anuvratsingh Sure! @TawalMc is working on another issue. Go ahead and assign it to yourself, and hop on our [Discord](https://discord.gg/pSKEdmNZcK) if you need any help. Thank you!

[2022-07-11 09:43] eyalb181 opened #199 "Add e2e sanity tests for Rails"
At the time of writing, we run our e2e test flows on test apps in Node and Python (Flask). We should expand coverage to include more frameworks (since different web frameworks occasionally use libc/syscalls in different ways). Please implement the existing tests for a basic Ruby on Rails app.

[2022-07-11 09:46] eyalb181 opened #200 "Add integration tests for a bash script"
A possible use case for mirrord is running commands in bash as if it's running in the remote pod. Please add e2e tests that verify file reads, file writes, and environment variables access work for a bash script run with mirrord.

* Note - if the outgoing traffic feature has been implemented by the time development starts on this issue, then it should be tested here as well.

[2022-07-11 09:53] eyalb181 opened #201 "Add sanity tests for the VS Code extension"
We don't test the VS Code extension at the moment, so changes there are risky. Please add a suite of sanity tests and have them run in the CI.

[2022-07-11 15:29] #191 closed

[2022-07-13 21:54] #172 closed

[2022-07-20 14:38] jim4067 commented on #174
Would love to look at this.

[2022-07-24 11:25] aviramha commented on #100
@camerondurham
Hey, are you still working on this issue? No pressure :) Just so we can mark this as available for others if not.

[2022-07-24 16:48] camerondurham commented on #100
@aviramha Following up from convo in`#dev`.

I can help with minor changes to fix existing features added but if it's more than a couple days work I probably won't have time.

What I've done so far:

1. (PR #182) Added a flag to the CLI in (here: https://github.com/metalbear-co/mirrord/pull/182/files#diff-e7e961df0a87503db868f6db719d10b5f06c962d7b1939079055514a118844bc)
2. (PR #185) Added another

[2022-07-24 17:11] aviramha commented on #100
Thanks @camerondurham - My fault for not tracking the issues/linking to this.

[2022-07-24 17:11] #100 closed

[2022-07-25 07:29] abhirag commented on #98
@aviramha would like to take a stab at this in case nobody else is working on it

[2022-07-25 07:31] aviramha commented on #98
@abhirag Awesome! Let us know if we can help in any way :)

[2022-07-27 19:55] #186 closed

[2022-07-28 10:08] abhirag opened #220 "Remove unused dependencies from mirrord-layer"
`mirrord-layer` has the following unused dependencies --
[code]
- [ ] Verify the analysis using [`cargo-udeps`](https://github.com/est31/cargo-udeps)
- [ ] Remove the dependencies from [`Cargo.toml`](https://github.com/metalbear-co/mirrord/blob/main/mirrord-layer/Cargo.toml)
- [ ] Make sure that the build succeeds

[2022-07-28 10:19] abhirag opened #221 "Consider using mold linker"
Preliminary analysis suggests that linking overhead is non-negligible in our case. [Mold](https://github.com/rui314/mold) is the fastest linker around and plays well with Rust so it makes sense to consider using it

- [ ] Benchmark the build time improvements with mold
- [ ] Consider adding it to CI
- [ ] Consider suggesting its usage in developer docs

Additional information --
[code]

[2022-07-28 10:32] abhirag opened #222 "mirrod-layer and mirrord bin are being built twice when running cargo +nightly build"
![duplicate_builds](https://user-images.githubusercontent.com/65067357/181483352-6bf2d2d0-40d7-46d3-8b90-ea754d27ee91.png)

We build the `mirrord-layer` library and `mirrord` binary twice during every build. They are built in parallel so I don't think we are going to improve our build times by much even if we fix this but still it is wasted computation that should be looked into

- [ ] Verify this

[2022-07-28 10:49] abhirag opened #223 "Reduce the overhead of running the frida-gum-sys build script on our build times"
![frida-gum-sys](https://user-images.githubusercontent.com/65067357/181485894-a44c5090-e0cb-470a-8746-6787ab22f702.png)
Running the `frida-gum-sys` build script is the third biggest overhead for us during building. This overhead is primarily because we use the the `auto-download` feature. The time is basically spent downloading the complete compressed `frida` devkit, extracting everything and then

[2022-07-28 10:57] aviramha commented on #98
Thanks @abhirag for opening the issues, adding it at the original post so we can track (feel free to suggest more everyone :))

[2022-07-28 11:34] aviramha opened #224 "Fix test_remote_dns_enabled_works E2E"
@abhirag noticed that in the test we don't run the correct script which is weird that it still succeeds. Need to understand why the test succeeds and fix the test.

[2022-07-28 14:43] aviramha opened #225 "Support Go on Linux"
Go on Linux doesn't use libc and calls syscalls directly. To support it, we plan on hooking Go's syscalls functions and taking it from there.

[2022-07-28 14:43] aviramha commented on #225
partially blocking issue: https://github.com/rust-lang/rust/issues/99858

[2022-07-31 09:45] #224 closed

[2022-08-01 18:41] abhirag commented on #223
Alright, so I have made some progress on this. We basically need to do three things --
1. Defer as much of the work as possible to the existing `frida-gum-sys` build script
2. Keep `frida-gum` libs in the source tree and use `cargo:rustc-link-search` to add the appropriate directory for the platform to the linker path
3. `frida-gum-sys` build script generates appropriate bindings using the platfor

[2022-08-01 18:53] abhirag commented on #223
The first issue we face is that the lifecycle of a cargo build script is such that it is executed just before compiling the binary, which means that the build scripts of all the dependent crates are executed before the build script of `mirrord-layer` (and we can't have build script on the workspace level).

This basically implies that we need a mechanism to make `bindgen` aware of the include path

[2022-08-01 19:25] abhirag commented on #223
So I have two approaches I need to discuss:

1. As of now `frida-gum` has no support for configuring the include directory, this approach [tweaks the `frida-gum-sys` build script to support configuring the include directory using an environment variable](https://github.com/frida/frida-rust/compare/master...abhirag:frida-rust:master) and then uses [the cargo feature to set this environment variable

[2022-08-02 09:00] aviramha commented on #223
What about forking the auto download crate then using replace to use the fork?

[2022-08-02 19:40] infiniteregrets opened #230 "Support fileops for Go on linux"
Suport for network ops is added through #228, we need support for fileops as well

[2022-08-03 11:40] aviramha commented on #230
To be more precise, we need to add E2E test to run both on macOS/Linux and for Linux to work we probably need to alter the current Go Linux hooks added in #228.

[2022-08-03 14:10] #225 closed

[2022-08-03 14:14] #90 closed

[2022-08-07 18:22] aviramha opened #241 "Java E2E"
Add Java E2E (Spring?)

[2022-08-11 10:20] neimsaci commented on #220
Hi I am beginner and it looks like this issue is for me! :D

[2022-08-11 10:52] eyalb181 commented on #220
@neimsaci All yours! I've assigned you the issue, if you need any help feel free to ask here or on [Discord](https://discord.gg/pSKEdmNZcK). Thanks!

[2022-08-15 10:44] DmitryDodzin commented on #200
After some testing it appears that the simplest and most common way of testing if "file exist" uses a not yet supported sys-call `faccessat`

[code]

the `[ -f "$FILE" ];` or `test -f "$FILE";` are the culprits -> `faccessat2(AT_FDCWD, "/etc/resolv.conf", R_OK, AT_EACCESS)`

[2022-08-15 11:56] aviramha opened #247 "Split mirrord-layer LayerError based on criteria"
Right now every `LayerError` variant we add needs to have a matching libc return value, while not all errors are even possible from the hooks, so adding the libc return value is futile.
I think we can solve this in two ways:
1. Have two kinds of `LayerError`s, one that can occur from hooks and one that can occur from the regular runtime.
2. Add a tag for specific `LayerError`s to require adding ma

[2022-08-15 14:49] aviramha opened #248 "E2E macOS flakiness tracking"
This is a tracking issue for e2e macOS flakiness.
We'll close it after many successful runs and overall feel of stable CI.

[2022-08-15 14:50] aviramha commented on #248
https://github.com/metalbear-co/mirrord/runs/7839377929?check_suite_focus=true
In this run it seems that the agent creation took so long, I assume that the macOS machine can't really execute all tests at once but limiting to test threads doesn't really help for some reason.

[2022-08-15 15:33] aviramha commented on #248
Another error:
[code]

[2022-08-15 15:48] aviramha commented on #248
After increasing timeout we face an 500 error from the k8s API. I'm trying to increase the CPU/memory of the colima VM.

[2022-08-15 15:59] aviramha opened #250 "E2E Linux flakiness tracking"
Tracking issue until Linux e2e is stable.

[2022-08-15 16:01] aviramha commented on #250
from: https://github.com/metalbear-co/mirrord/runs/7841167403?check_suite_focus=true
[code]

 thread 'tests::test_mirror_http_traffic::application_1::agent_2' panicked at 'Timeout waiting for line: DELETE', tests/src/sanity.rs:113:13
application = PythonHTTP
agent = Job

 ---- tests::test_file_ops::agent_1 stdout ----
------------ TEST ARGUMENTS ------------
agent = Ephemeral

stdout pid 7600: 202

[2022-08-15 16:45] aviramha commented on #248
[code]
[failure](https://github.com/metalbear-co/mirrord/runs/7841572513?check_suite_focus=true) after increasing colima vm size and increasing timeout.
Looking at the container logs, there seems to be k8s api errors + seeing only 2 containers starting logs, which leads me to believe that maybe the tests start running before k8s is even ready.

[2022-08-16 07:57] aviramha opened #251 "Cache doesn't work on test-agent workflow"
This is because the test runs as sudo so files generated are owned by root and inaccessible by the cache step.
I think the solution would be to chown + chmod `/home/runner` after the test step.

[code]

[2022-08-17 07:26] aviramha commented on #250
[code]
Looking into it, the first debug message seen here means we sent the request successfully but then agent disconnected. We don't have agent logs (because ephemeral :( ). My current guess the agent reads the message but then crashes for some reason or just a moment before.

[2022-08-17 11:07] DmitryDodzin opened #258 "Support dup for file-ops"
Support "Duplicating a file descriptor" commands for file-ops and not only for sockets.

Syscalls like `dup`, `dup2`, `dup3` and `fcntl` can duplicate duplicate a file descriptor, if the fd is one that mirrord manages then post duplication the new fd still should be mapped to the remote-fd

[2022-08-17 11:14] DmitryDodzin opened #259 "Support Bash pipe/redirect operators"
There is a problem with bash pipe `|` or redirect `>` operators that perform ops between stdouts and stdins of forked process, needs further investigation on the issue.
Some operations fail some just halt the further execution of the process managed by mirrord

possibly related: #258

[2022-08-18 09:35] aviramha commented on #250
http traffic missed:
[code]
This is the first packet in session and it's not recognized as new session for some reason. Happened on Go Linux e2e.

[2022-08-18 18:02] aviramha commented on #220
oops. We forgot to close this! Fixed in #243

[2022-08-18 18:02] #220 closed

[2022-08-18 18:14] infiniteregrets opened #264 "Create a tutorial for mirrord with a real world app"
As discussed with @eyalb181, having a discord bot for this tutorial might add a bit of complexity to describing a hello world app. Preferably something that is easy and targets a wide audience, open to suggestions!

[2022-08-19 16:39] infiniteregrets commented on #259
Just did some digging:
conceptually I believe, pipe operators call pipe() then dup on the pipe fd with the stdout of one end and otherway around on the receiving end of the pipe. However strace does not show any calls to dup, dup2, dup3, fcntl..

https://gist.github.com/infiniteregrets/1838c511792353116d071ee1bfd17c0a

[2022-08-23 16:21] #230 closed

[2022-08-24 12:02] eyalb181 opened #277 "Support read-only file access"
We should let users configure file access to be read-only, so they don't risk corrupting the remote environment.

[2022-08-24 14:32] #247 closed

[2022-08-24 17:38] eyalb181 opened #278 "Support DNS for Go apps"
Since Go resolves DNS over UDP, we need to support outgoing traffic over UDP in order to fully support Go apps. Note however that outgoing UDP doesn't need to work completely (within the scope of this issue), but only to the extent necessary for Go DNS to work.

[2022-08-24 18:15] meowjesty commented on #278
Using what aviram said (for reference):

it uses annoying primitives such as sendmsg and such but we shouldn't care if we do it like we do in tcp
socket gets created, socket calls connect -> instead of connecting to real socket, connect it to our endpoint then relay the data
need to hook recvfrom though so the address will make sense

[2022-08-25 07:15] eyalb181 opened #279 "Add IntelliJ extension to README"

[2022-08-25 07:15] eyalb181 opened #280 "Add IntelliJ extension to mirrord.dev"

[2022-08-26 00:06] thedanvail opened #281 "Update .devcontainer to support running e2e tests"
Upon trying to use the dev container to develop remotely, I found that there was quite a lot to slog through before I was able to get `docker`, `dockerd`, and `minikube` working in the dev container so that I could continue with testing and updating locally as opposed to pushing the changes to my fork every 10 minutes

[2022-08-26 18:05] aviramha opened #282 "Publish to krew"
Krew is plug-in manager for Kubectl. I think it makes sense to publish mirrord there.

[2022-08-27 10:45] neimsaci commented on #251
Hi again! Let me try this one. :)

[2022-08-27 13:54] eyalb181 commented on #251
All yours, thanks and good luck!

[2022-08-28 10:59] #24 closed

[2022-08-28 14:21] simobgl commented on #280
Why is the Jetbrains plugin no more available?

[2022-08-28 14:28] eyalb181 commented on #280
Hey @simobgl, it should be available [here](https://plugins.jetbrains.com/plugin/19772-mirrord). Note that our first stable version, 2.9.0, should be released tomorrow.

[2022-08-28 14:39] simobgl commented on #280
many thanks

[2022-08-28 15:56] eyalb181 opened #289 "Add version check to IntelliJ extension"
The VS Code extension and the CLI both check for a new version on activation and prompt the user to update if their version is outdated. This should be added to the IntelliJ extension as well.

[2022-08-28 17:01] #187 closed

[2022-08-29 09:24] simobgl commented on #280
I tried it yesterday with no success, has the stable been released? this is a very interesting project

[2022-08-29 10:40] eyalb181 opened #290 "Support filtering of incoming traffic by header"
In order to support concurrent usage of mirrord on the same service in e.g. a staging cluster, we need to let users filter requests routed to them by header.
For example, when running mirrord-layer with FILTER_INCLUDE="mirrord-user: eyal", only requests with the specified header would be routed by the agent to the layer. Extrapolate to FILTER_EXCLUDE.

Architecture [here](https://miro.com/app/boar

[2022-08-29 12:30] alexg-axis opened #292 "Go programs cannot access environment variables"
### Bug Description

Go binaries cannot access environment variables.

### Steps to Reproduce

[code]

[code]

[code]

Compare with

[code]

### Backtrace

_No response_

### Relevant Logs

_No response_

### Your operating system and version

macOS 12.5.1 Monterey

### Local process

main: Mach-O 64-bit executable x86_64
go version go1.19 darwin/amd64

### Local process version

_No response_

##

[2022-08-29 12:40] alexg-axis commented on #292
I did some digging. Although there's a "get env syscall" in Go, it seems to just return the values that are expected to be linked immediately after argv, hence env is never set by hooks.

1. https://cs.opensource.google/go/go/+/master:src/runtime/runtime1.go;l=82;drc=a6219737e3eb062282e6483a915c395affb30c69;bpv=1;bpt=1

[2022-08-29 13:37] infiniteregrets commented on #280
hi @simobgl, could you please share more information regarding what errors you faced while running your project with mirrord? Perhaps, the IDE error and the environment configuration you chose would be helpful! We can probably get on discord and discuss if that's comfortable (:

[2022-08-29 14:43] aviramha commented on #292
Thanks for reporting this so detailed and informative. We'll look into that and deliver a fix ASAP :)

[2022-08-29 14:48] aviramha commented on #292
Okay, your source code reference helped a lot. We use libc way of setting environment variables, which doesn't necessarily edit it after argv, like Go expects it to be.
I'll check and see how we can solve it :)

[2022-08-29 16:40] eyalb181 commented on #280
Closing this issue since it refers to adding details about the extension to our website. However feel free to continue the discussion here, in our Discussions section, or on Discord.

[2022-08-29 16:40] #280 closed

[2022-08-29 17:26] eyalb181 opened #293 "Support impersonating deployments rather than pods"

[2022-08-29 18:46] eyalb181 opened #295 "Update documentation to include outgoing traffic"
The overview text and architecture diagrams (and maybe other things I've missed) should include the new outgoing traffic feature.

[2022-08-29 20:40] aviramha commented on #292
Some updates. I dug a bit, and Go is being Go as per usual. On program start (`main`) it gets the argv/argc from the function argument and then copies it to it's own globals. libc does a similar thing so we actually have two globals in the memory - one of libc and one of Go.
I started thinking on how we can overcome this - problem is that if we get the argc/argv pointer before Go does and edit it,

[2022-08-29 22:36] simobgl commented on #280
Nothing happens, the mirrord button on the toolbar is pressed, I try to launch a debug session and was expecting a dialog but it's stuck there. MacOs 11.6 with Goland 2022.2.2

[2022-08-30 06:05] alexg-axis commented on #292
Thanks for the awesome work! I look forward to see your solution.

[2022-08-30 07:36] aviramha opened #298 "IntelliJ Extension - GoLand MacOS doesn't work"
Nothing happens, the mirrord button on the toolbar is pressed, I try to launch a debug session and was expecting a dialog but it's stuck there. MacOs 11.6 with Goland 2022.2.2

_Originally posted by @simobgl in https://github.com/metalbear-co/mirrord/issues/280#issuecomment-1230942196_

[2022-08-30 11:57] eyalb181 commented on #280
@simobgl Just to make sure, you don't get an error notification in the IDE right? Is kubectl configure properly, are you able to run `kubectl get pods`?

[2022-08-30 13:01] aviramha commented on #292
Okay this was quite a journey. Yesterday I was afraid we needed to do assembly - luckily my small assembly PoC didn't work so I had to find another way of doing it which turned out to be better. Right now I checked it only on macOS and it's quite ugly. will soon check it on Linux.

Raw drafts in case someone finds it interesting - I hooked the function that is called for sorting out the env (on in

[2022-08-30 14:05] simobgl commented on #280
cluster connection verifies, got an error:
java.lang.reflect.UndeclaredThrowableException
	at jdk.proxy2/jdk.proxy2.$Proxy209.processStarting(Unknown Source)
	at com.intellij.execution.impl.ExecutionManagerImpl$doStartRunProfile$startRunnable$1.run(ExecutionManagerImpl.kt:223)

but it is probable due to kluster permissions, I'll try again with a cluster I have full control of

[2022-08-30 17:40] infiniteregrets commented on #298
The above linked patch is for the untimate edition of intellij IDEA, however when starting goland I run into the following exception:
[code]

[2022-08-30 18:51] aviramha commented on #292
Merged the fix. Please let me know if this works for you after updating (we should release a version today/tomorrow)

[2022-08-30 20:53] infiniteregrets opened #308 "IntelliJ Extension: prevent loading the env into the compiler"
After a run on the goland IDE and intellij ultimate with golang plugn:
it seems like the process is being run like so:

[code]
which means we are being loaded into the compiler rather than the process after we inject the env as done in #300

we have the following options here,
- understand if we can make intellij not load us into the compilation step
- infer that it is the compiler we are loading

[2022-08-31 08:31] alexg-axis commented on #292
@aviramha Thanks for the quick fix! Unfortunately I get SIGSEGV.

[code]

It happens with "hello world" as well, so there's surely some Golang peculiarity left to straighten out.

[code]

[code]

[code]

[2022-08-31 10:46] aviramha commented on #292
Bummer. What's your machine type? Apple Sillicon/Intel?

[2022-08-31 12:00] aviramha commented on #292
Okay we managed to reproduce - this happens on a release build. Probably some optimization causing UB.
If you want to test debug version feel free to compile mirrord locally, I hope we'll be able to deliver a fix soon ;)

[2022-08-31 14:27] alexg-axis commented on #292
I'm on Intel. It seems to happen on debug builds as well, given that I build things correctly.

[code]

If it's removed by the compiler in release builds I assume the behavior could differ between rust versions as well.

[2022-08-31 16:15] aviramha commented on #292
@alexg-axis seems we can't really reproduce it on builds that are not in the release for some reason.
Can you try running with this branch? https://github.com/metalbear-co/mirrord/pull/309
I tried a solution that might help (running the go env hook on a different stack to avoid overflow). It does run on my end but it also runs without it so 🧇
I'll try to reproduce locally meanwhile so I can prove

[2022-09-01 10:43] aviramha commented on #292
We just released 2.11.0 which should solve this. Let us know that we can close the issue please ;)

[2022-09-01 17:54] #125 closed

[2022-09-02 06:04] alexg-axis commented on #292
It works! Awesome work @aviramha. Closing.

[2022-09-02 06:04] #292 closed

[2022-09-02 12:36] aviramha commented on #292
@alexg-axis Great! If you have any feedback for mirrord, we'd love to hear!

[2022-09-02 13:59] eyalb181 opened #316 "VS Code extension doesn't refresh kubeconfig"
### Bug Description

If I start VS Code and then change my kubeconfig to point to another cluster, then I still see the old cluster's pods, namespaces, etc. when running mirrord. When I reset VS Code then it's sorted out.

### Steps to Reproduce

1. Start VS Code
2. Change kubeconfig to point to another cluster
3. Run mirrord. The pod dropdown would show the old cluster's pods and not the new one'

[2022-09-02 15:55] infiniteregrets commented on #280
Hi @simobgl I was able to reproduce the error you got,
[code]
This happens when you're not connected to a valid cluster, for example using minikube but minikube is not running.
But the extension still won't support mirrord properly for golang since there is an issue with env vars(#298 #308) which we are working on. However, feel free to send any feedback if you get a chance to try this with any ot

[2022-09-02 15:57] simobgl commented on #280
Many thanks for your follow-up. I'm very interested in using this with golang. Is there a way to be notified when the issue will be solved? that would be great for many organizations I work with

[2022-09-02 16:02] infiniteregrets commented on #280
For sure, this should be resolved soon! I will notify you as soon as a new version with the patch is out (: Thanks!

[2022-09-02 16:28] t4lz opened #317 "IDE Error on CLion on Mac"
### Bug Description

When trying to use the IntelliJ plugin on CLion 2022.2.1 (Build #CL-222.3739.54) an IDE error occurs, debugging does not start, and the debug button is disabled until restarting the IDE.

### Steps to Reproduce

1. Install Rust plugin and mirrord plugin on CLion.
2. Enable mirrord via IDE button.
3. Debug the [sample rust app from the mirrord repo](https://github.com/metalbear

[2022-09-03 19:38] eyalb181 commented on #282
@infiniteregrets please link the response you got and close this as not planned.

[2022-09-03 19:43] infiniteregrets commented on #282
Closing this based on -

The point of kubectl plugins is to make the "kubectl" experience better (not necessarily the "developing applications on Kubernetes experience").

I think this doesn't fall into the plugin category based on my reading of the situation.
/kind gray-area

https://github.com/kubernetes-sigs/krew-index/pull/2559#issuecomment-1232313104

[2022-09-03 19:43] #282 closed

[2022-09-04 07:53] #316 closed

[2022-09-04 08:52] eyalb181 opened #321 "Remote DNS doesn't work for node.js"
### Bug Description

@aviramha encountered the following error when enabling remote DNS on a Node.js app:

`2022-09-02T16:09:31.397836Z ERROR mirrord_layer::error: Error occured in Layer >> ResponseError(RemoteIO(RemoteIOError { raw_oserror: None, kind: Other }))
Assertion failed: (!"unknown EAI* error code"), function uv__getaddrinfo_translate_error, file ../deps/uv/src/unix/getaddrinfo.c, line 9

[2022-09-04 08:56] eyalb181 opened #322 "Have all features enabled by default"
At the moment only traffic mirroring is enabled by default, and everything else has to be enabled explicitly. Starting with version 3.0.0, we want to have all features (=mirroring, outgoing traffic, file ops, env vars) enabled by default, with the option to disable them explicitly.

[2022-09-04 09:02] #101 closed

[2022-09-04 09:10] eyalb181 opened #323 "Fully support outgoing UDP"
After #278 is done, we need to complete the outgoing UDP functionality to support all relevant use cases, not only Go DNS.

[2022-09-04 10:29] aviramha commented on #321
I found one issue, and that's the DNS being resolved in the agent context instead of the impersonated container context.
Another theoretical issue is that the error is `IO` and not not found for some reason.. might be related to the first issue.

[2022-09-04 12:47] aviramha commented on #321
Okay, besides the first theory, the error code didn't propagate but even when it did, macOS expects different codes than Linux so it needs more translation. PR incoming soon.

[2022-09-04 18:11] eyalb181 opened #325 "Expose new configurations in VS Code extension"
Invalid certificates, traffic steal, outgoing traffic, etc. are currently not exposed in the VS Code extension.

[2022-09-04 18:44] #321 closed

[2022-09-04 19:28] #325 closed

[2022-09-05 05:46] aviramha opened #327 "CI fail on outgoing - IPv6/v4 node error"
### Bug Description

Seen in this CI run: https://github.com/metalbear-co/mirrord/runs/8181722889?check_suite_focus=true
stderr 2022-09-05T03:58:46.947589490Z 18880: node: ../sysdeps/posix/getaddrinfo.c:2431: getaddrinfo: Assertion `IN6_IS_ADDR_V4MAPPED (sin6->sin6_addr.s6_addr32)' failed.

### Steps to Reproduce

Seems to happen in the E2E (randomly?)

### Backtrace

_No response_

### Relevant L

[2022-09-05 06:23] aviramha commented on #327
Managed to reproduce an error locally, not the same though.
(macOS)
[code]
Seems that locally we resolve a IPv6 address while the container itself doesn't support it. A bit tricky tbh.

[2022-09-05 06:32] aviramha commented on #327
Current suggestion - to print a warning when the outgoing tcp feature is enabled without DNS, and in tests to combine the two.

[2022-09-05 07:31] #327 closed

[2022-09-05 11:55] boaz0 commented on #322
can i try my luck and work on this?

[2022-09-05 12:16] eyalb181 commented on #322
Hey @boaz0, this is something we're looking to get done by the end of the day tomorrow, so if you feel like you'd be able to get to it by then go ahead. Otherwise please feel free (and encouraged!) to grab some other issue :)

[2022-09-05 12:28] #45 closed

[2022-09-05 13:36] aviramha opened #330 "fail to execute when kubectl cluster configuration contains cmd"
### Bug Description

@eyalb181 found out that when he uses GCP, the cluster config contains a cmd command to execute to obtain auth instead of just text. The part that gets credentials in mirrord executes it, but also loads the mirrord-layer into it, resulting in a crash due to unmatching architecture (no idea why tbh, the binary is arm64e while most m1/2 binaries are just arm64.. something to con

[2022-09-05 14:37] meowjesty opened #331 "Tcp outgoing fails with "rapid fire" multiple requests (12+)."
### Bug Description

With the `MIRRORD_TCP_OUTGOING` feature enabled, if you try to make multiple requests in quick succession (tested on node), one of the channels appear to close before some request is completed, breaking the whole thing.

### Steps to Reproduce

1. Enable `MIRRORD_TCP_OUTGOING`;
2. Make multiple requests (reproduced with around 12 or more);
3. ???
4. `ECONNRESET` error.

### Ba

[2022-09-05 17:44] infiniteregrets opened #333 "MIRRORD_ACCEPT_INVALID_CERTIFICATES - when not set gives uninformative error with a crash"
when `MIRRORD_ACCEPT_INVALID_CERTIFICATES` is not set, we end up with the following error:
[code]
best would be to provide more context as to what happened so that the user knows they need to use the flag

[2022-09-05 18:03] eyalb181 commented on #295
There's the Technical Reference, but that's a lot of work and less urgent, so please open a separate issue for it.

[2022-09-05 18:29] t4lz opened #334 "Add a "Traffic" page to the technical reference"
At the [Technical Reference](https://mirrord.dev/docs/reference/env/) (https://github.com/metalbear-co/mirrord.dev/tree/main/content/docs/reference), add a _Traffic_ page, with the sections _Incoming_, _Outgoing_ and _DNS_.

[2022-09-05 18:40] t4lz commented on #295
https://github.com/metalbear-co/mirrord/issues/334 separate issue for Technical Reference.

[2022-09-05 18:40] #295 closed

[2022-09-05 19:24] t4lz opened #335 "NullPointerException on IntelliJ IDEs when clicking ok without selecting namespace"
### Bug Description

If the user starts debugging with mirrord, and clicks _ok_ without selecting a Namespace on namespace selection, there is an IDE error and debugging is disabled.

### Steps to Reproduce

On PyCharm, with mirrord installed:

1. Enable mirrord.
2. Press the _Debug_ button.
3. When prompted to select a namespace, do not click on any of the namespaces, directly click on _OK_.

At

[2022-09-05 19:26] t4lz commented on #335
Also reproduced on IntelliJ IDEA Ultimate.

[2022-09-05 19:37] infiniteregrets commented on #335
were you connected to a cluster?

[2022-09-05 19:50] infiniteregrets commented on #335
this happens because we don't handle the case when the user doesn't select a namespace, should be fixed in #300

[2022-09-05 21:02] t4lz opened #337 "mirrord not working on PyCharm on mac."
### Bug Description

PyCharm can't find the dylib so running/debugging with mirrord fails.

### Steps to Reproduce

On PyCharm with mirrord installed:
1. Enable mirrord.
2. Run.
3. Select namespace and click OK.
4. Select pod and click OK.

### Backtrace

_No response_

### Relevant Logs

[code]

### Your operating system and version

macOS Monterey 12.5.1

### Local process

sample python app.

#

[2022-09-06 04:51] infiniteregrets opened #338 "Update docs on environment variables"
Explain the mechanism as done here https://github.com/metalbear-co/mirrord/pull/189

[2022-09-06 07:39] #277 closed

[2022-09-06 13:20] t4lz opened #344 "CLI crushes because of existing dylib"
### Bug Description

The CLI tool crashes, deleting `/tmp/libmirrord_layer.dylib` solves the problem. Once `/tmp/libmirrord_layer.dylib` is valid again, deleting it between runs is not necessary.

### Steps to Reproduce

If `/tmp/libmirrord_layer.dylib` is in a bad state (not sure yet how this happens):
1. Run mirrord from the command line.

### Backtrace

[code]

### Relevant Logs

[code]

### Yo

[2022-09-06 15:36] infiniteregrets opened #345 "IntelliJ-ext: prepareSandbox task does not throw an exception if the source files don't exist"
We should check if the dylib and so files exist in the working directory or not for this task as we ended up bundling only the .so files in the previous releases and saw no errors

[2022-09-06 16:26] infiniteregrets opened #346 "Add E2E tests for gRPC"
We need to add tests for a gRPC a simple client-server model to current suite of E2E tests

[2022-09-06 16:32] infiniteregrets opened #347 "Add docs for TCP steal to mirrord website"
From Aviram,

you have local process (B) with state B'
when you use steal, process B handles the traffic

- Add a diagram and elaborate

[2022-09-06 16:55] t4lz opened #348 "Mirrord should exit and display helpful message when receiving close frame."
When mirrord gets the close frame currently it just keeps running uselessly, and even after the agent disconnects.
Instead, when the connection is closed, mirrord should exit and display some helpful information.

This happens for example if you run mirrord against a local cluster on mac with an apple chip, without specifying an agent image (`MIRRORD_AGENT_IMAGE`) built for apple, and an x86 image

[2022-09-06 19:53] eyalb181 opened #350 "VS Code Python debugger crashes"
### Bug Description

Both file ops and outgoing traffic seem to do it - see separate errors for both.

### Steps to Reproduce

Debug a python process in VS Code with mirrord enabled and fileops/outgoing traffic/both turned on.

### Backtrace

_No response_

### Relevant Logs

[code]

### Your operating system and version

MacOS

### Local process

python3.9

### Local process version

_No response

[2022-09-06 20:31] eyalb181 commented on #347
@t4lz Agreed

[2022-09-06 23:56] infiniteregrets opened #355 "Release CI: provide intellJ/vscode extension zip as a release artifact"
It can take a few hours for the released extension to be available on the marketplace, therefore once the release is done we should provide it as an artifact so that we can manually install and check if everything works on a timely basis

[2022-09-07 08:40] eyalb181 opened #358 "Add file filters to CI"
A lot of time is wasted running the e2e tests on fixes where it doesn't really apply (e.g. in the IDE extensions), so we should filter it to only run on relevant files.

[2022-09-07 12:03] #333 closed

[2022-09-07 12:09] DmitryDodzin opened #363 "Display actual port for easy local testing"
After mirrord connects it remaps the expected listen port to a different one, causing confusion when trying to access the local process and receiving results without stealing the traffic

[2022-09-07 15:28] #337 closed

[2022-09-07 15:29] #335 closed

[2022-09-07 16:33] infiniteregrets commented on #363
Do we not actually do so here https://github.com/metalbear-co/mirrord/blob/main/mirrord-layer/src/lib.rs#L88

[2022-09-07 17:02] t4lz opened #366 "Log problem in layer and exit when agent image is not found"
Currently, if you override the default agent image with one that does not exist (e.g. `-i test` when running in the cloud and `test` only exists locally), then the created agent pod has status`ImagePullBackOff` and mirrord continues running locally. Instead, it should log an error and exit.

[2022-09-07 19:46] eyalb181 opened #368 "VS Code Node debugger crashes"
### Bug Description

When debugging a Node process with mirrord enabled (no matter which features are turned on), I get the attached crash.
<img width="258" alt="Screenshot 2022-09-07 at 22 38 23" src="https://user-images.githubusercontent.com/5508354/188962902-3d3eab0e-3ca7-44fd-93cc-2059c0c203c8.png">

When adding the runtimeExecutable env var as suggested, it works, but then breakpoints are gra

[2022-09-07 21:11] #344 closed

[2022-09-07 22:04] #350 closed

[2022-09-08 04:57] infiniteregrets commented on #368
Able to debug the node process, this depends on user's env config from what I can see unrelated to mirrord/extension

[2022-09-08 07:33] t4lz opened #371 "Remote DNS fails under a specific setup"
### Bug Description

With the https://github.com/istio/istio/tree/master/samples/bookinfo example running in the google cloud, and the agent in a different namespace than the target pod, remote dns fails. It does not fail when the agent is in the same namespace.

### Steps to Reproduce

1. Setup the cluster from the istio repo, but with this load balancer:
[code]
2. Run `productpage.py` on the `pr

[2022-09-08 08:22] t4lz commented on #371
Not a bug:
The `productpage` service is searching the `reviews` service by only its service name, [which is only possible from within a namespace](https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/#namespaces-and-dns). `productpage.py` allows specifying the dns names by environment variable, and if you run it with mirrord with the agent in a different namespace, but spec

[2022-09-08 08:43] aviramha commented on #371
The agent impersonates the pod, and the agent running namespace shouldn't matter for DNS as the agent resolves it from the context of the pod, meaning it's actually resolving from the namespace of the impersonated pod (linux namespace != k8s namespace)
I think I know what's the issue though - the way dns resolving works is that it checks the local `/etc/resolv.conf` for settings (like adding a pre

[2022-09-08 08:48] #338 closed

[2022-09-08 08:58] eyalb181 commented on #368
What was the change to the env config that fixed it? Also I thought it worked with mirrord disabled but failed with mirrord enabled?

[2022-09-08 09:02] t4lz commented on #371
Ok, but just to make sure that's fine: If we do this change, users might use the `--agent-namespace` flag in expectation to then be able to use only service names for accessing services in that Kubernetes namespace but that would fail.

[2022-09-08 12:39] aviramha opened #372 "Update docs for new configuration"
Following #343  - should be merged together.

[2022-09-08 14:03] infiniteregrets opened #373 "Env vars don't work on macos M1, go version go1.18.4 darwin/arm64"
### Bug Description

it seems like `runtime.goenvs_unix` is not hooked for `go version go1.18.4 darwin/arm64` on macos M1 and we end up with no envs loaded into the go process

### Steps to Reproduce

1. go build
2. RUST_LOG=debug target/debug/mirrord exec -c --override-env-vars-include="*" --pod-name py-serv-deployment-5c57fbdc98-kqgrz tests/go-e2e/go-e2e

### Backtrace

_No response_

### Releva

[2022-09-08 14:37] eyalb181 commented on #371
I don't think that's implied - the user specifies a pod and the agent impersonates it, no matter which namespaces the two are in.

[2022-09-08 15:59] #184 closed

[2022-09-08 16:14] #160 closed

[2022-09-08 16:21] #278 closed

[2022-09-08 16:50] aviramha commented on #373
blocked by https://github.com/frida/frida-gum/issues/677

[2022-09-08 18:13] meowjesty opened #377 "`connect` fails when dealing with IPv6 (agent errors with `AddrNotAvailable`)"
### Bug Description

The outgoing traffic feature fails when a request is made for an IPv6 address, as the pod doesn't support it (apparently).

This may cause issues when resolving a DNS to some IPv6 address.

### Steps to Reproduce

1. Make a request resolving the address as IPv6;
2. Crashes.

### Backtrace

[code]

### Relevant Logs

- agent:

[code]

- layer:

[code]

### Your operating system

[2022-09-08 18:35] aviramha opened #378 "Refactor E2E tests"
Now that all features are basically enabled by default, we should have one sanity test for each framework combining all the abilities and best testable framework for settings/configurations checks (like steal, specific env vars, etc) as that logic doesn't really change from framework to framework.

[2022-09-08 19:44] #322 closed

[2022-09-09 03:14] aviramha opened #380 "Go crash on signal - linux"
### Bug Description

in the CI, go crashes sometimes:

### Steps to Reproduce

Seems to happen on http mirror traffic test in e2e.

### Backtrace

[code]
[code]

[2022-09-09 06:54] #372 closed

[2022-09-09 15:13] t4lz commented on #380
I think I've managed to reproduce something similar:

OS:
[code]

Command:
[code]
While the process was running I made requests to the server with `curl` and sent `SIGURG` to the process with `kill -s 23 <pid>`.

Logs:
[code]

[2022-09-10 21:24] infiniteregrets commented on #345
Note, I cant seem to exclude prepareSandbox task using `-x` like so: `./gradlew buildPlugin -x prepareSandbox` for test CI since it does not really matter if we copy the extensions

[2022-09-11 17:52] tamasfe opened #388 "presented server name type wasn't supported on GKE"
### Bug Description

`kube_client::client::builder: failed with error error trying to connect: presented server name type wasn't supported` is reported when connecting to a GKE cluster.

`--accept-invalid-certificates` as suggested is a good workaround but the certificate is definitely valid.

If you are using rustls, I suspect it's https://github.com/rustls/rustls/issues/184.

### Steps to Reprod

[2022-09-11 17:53] tamasfe opened #389 "Provide feedback while the agent is initializing"
The CLI currently silently waits for the agent to be up and running, since it can take a while it would be nice to show some minimal progress.

[2022-09-11 17:59] tamasfe opened #390 "Alternative log level env var for `mirrord-layer`"
Currently it's not possible to silence logs from `mirrord-layer` when developing a rust application as it uses the `RUST_LOG` env variable.

Something like `MIRRORD_RUST_LOG` could be introduced that overrides `RUST_LOG` if present.

Alternatively logging to file could be preferred instead of silencing, as these messages are still important, but should not be mixed with the executed app's stderr o

[2022-09-11 18:11] tamasfe opened #391 "Start the agent in the same namespace as the pod by default"
DNS with only a service name will be resolved in the agent's namespace, thus the following does not work:

```mirrord exec -n foo-ns --pod-name foo-server -- ping foo-svc```

Whereas this will:

[code]

Unless there's an important reason for the current behaviour, the agent could default to the pod's namespace if it's not explicitly given.

[2022-09-11 18:22] tamasfe opened #392 "Shorter way to select a container in the CLI"
`--impersonated-container-name` is quite a mouthful with no short flags.

Instead of introducing a short flag for it, I'd suggest an alternative for `--pod-name`.

Since #293 is planned, something more general could work as a target selector.

Some ideas:

[code]

For deployments:

[code]

Or in case services are supported in the future:

[code]

[2022-09-11 18:41] tamasfe opened #395 "Config file"
The CLI has a lot of options, especially if you include env var configuration, a lot of it could be moved to something like a `mirrord.toml` along with a `--config` cli flag for it.

[2022-09-11 18:51] tamasfe opened #396 "Panic if container is set to `linkerd-proxy`"
### Bug Description

The following is thrown when trying to impersonate a [`linkerd2`](https://linkerd.io/) proxy:

[code]

I did not expect it to be supported, but this panic is definitely unexpected.

### Steps to Reproduce

`mirrord exec -a foo -n foo -c --steal --no-fs --pod-name foo --impersonated-container-name linkerd-proxy ...`

### Backtrace

[code]

### Relevant Logs

_No response_

###

[2022-09-11 18:53] tamasfe opened #397 "Support mirroring in service mesh proxies"
Currently if a pod is meshed with a [`linkerd-proxy`](https://github.com/linkerd/linkerd2) the traffic will not reach the agent, and the `linkerd-proxy` container cannot be impersonated #396.

[2022-09-12 05:02] infiniteregrets opened #398 "connect + getaddrinfo fail with curl"
### Bug Description

getaddrinfo returns a linkedlist of resolved addresses and seems like when the request is sent to curl localhost:80, it is resolved by the agent into both ipv4 and ipv6 addresses, and then the layer tries to create a socket based on the socket type of the resolved address, which for this context is ipv6, socket creation succeeds since locally ipv6 is supported but fails later

[2022-09-12 06:18] aviramha commented on #391
This sounds like a bug as the agent *should spawn* in the same namespace as the pod if not specified.
Thanks for reporting this, we'll look into it!

[2022-09-12 06:21] aviramha commented on #395
Thanks for the suggestion! We actually had it in mind - see discussion here https://github.com/metalbear-co/mirrord/discussions/246
We're planning to work on this soon so would love to hear your ideas on how the config file should look (currently we're thinking JSON and not toml, but ofc in the end we can support both :))

[2022-09-12 06:24] aviramha commented on #388
Thanks for reporting it - as you suggested, it's because of rustls We had problems linking to OpenSSL as the running binary might have another version required leading to crashes so we have to use rustls.
It seems that the rustls issue is a bit complicated (requires changes on dependencies that are still pending). I'll try to see if we can push something there or help somehow.

[2022-09-12 06:26] aviramha commented on #396
I think it might be related to https://github.com/metalbear-co/mirrord/pull/387
We'll try to test it, but if you want to compile from master (it's already merged) and test it out let us know :)

[2022-09-12 06:51] aviramha commented on #389
Thanks for the suggestion! This should be easily done by adding prints in the relevant places.

[2022-09-12 06:52] aviramha commented on #390
AFAIK you can use `RUST_LOG=mirrord=warning` then mirrord will print only warnings/errors?

[2022-09-12 06:53] aviramha commented on #392
That's an interesting approach. We will start thinking about this after the MVP stable release!

[2022-09-12 07:28] tamasfe commented on #396
It does not seem to be fixed by that, I'll try to see what the issue is exactly.

[2022-09-12 08:07] tamasfe commented on #395
I would prefer something that supports comments, but I agree, there should be no difficulty in supporting multiple formats. I would also add YAML to the mix as it's what kubernetes devs/operators are born with.

Some bikeshedding:

<details>
<summary>
TOML
</summary>

[code]

</details>

Same in JSON:

<details>
<summary>JSON</summary>

[code]

</details>

I included the selector idea from #392, w

[2022-09-12 08:22] eyalb181 commented on #398
Can we fallback to IPv4 socket creation if IPv6 fails?

[2022-09-12 09:18] aviramha commented on #398
I think that's what it tries to do and #377 should solve this bug as well I believe

[2022-09-12 09:29] aviramha commented on #395
Awesome! I think that's the next feature we'll add to mirrord. Thank you so much.

[2022-09-12 19:01] t4lz commented on #380
https://github.com/metalbear-co/mirrord/actions/runs/3039714756/jobs/4895026468 @aviramha seems related.

[2022-09-13 05:55] aviramha commented on #396
@tamasfe sorry I missed out that the patch is in the agent, hence even if you recompile it won't work as long as you use the remote image (which you probably did). I hope we'll release another version today so you can see if it works (it seems to have reproduced and fixed on our checks so you should be good!)

[2022-09-13 07:00] t4lz commented on #398
@infiniteregrets how do you know IPv6 is not enabled on the pod? What about the IPv6 addresses in the `ifconfig`?
[code]
[code]

[2022-09-13 07:02] aviramha commented on #398
That's [link address](https://labs.ripe.net/author/philip_homburg/whats-the-deal-with-ipv6-link-local-addresses/) (you can see it by `<link>` in the end of it

[2022-09-13 07:11] t4lz commented on #398
@aviramha the example is all local, and the request is to localhost, how do you know `[::1]` is disabled?

[2022-09-13 07:18] aviramha commented on #398
Fair point

[2022-09-13 08:26] #331 closed

[2022-09-13 09:33] infiniteregrets commented on #398
Just speculation, inspecting the service it's only ipv4 stack inside the pod if i check its ipv6 as well (if i check catting some Linux files) but inside the pod curl to ipv6 localhost fails

[2022-09-13 10:07] tamasfe commented on #396
Thanks, indeed I haven't built the agent. I'll try again after the release.

[2022-09-13 10:22] t4lz commented on #398
Right, IPv6 is not enabled for the service:
[code]
Do you think the agent should check that?

Is the deployed application listening on IPv6 btw?

[2022-09-13 10:54] tamasfe commented on #389
@aviramha you can assign this one to me.

Since it's a user-facing tool, I thought of using [spinoff](https://crates.io/crates/spinoff) without colors for this to log the agent stages. Do you think it's worth the extra effort over just plain messages? Those have to be implemented for dumb terminals anyway.

[2022-09-13 11:34] aviramha commented on #389
Done!
If you think spinoff is cool then yeah go ahead. One thing to notice is I thing that the prints/spinner should be enabled only when using the cli, as when it runs in extension/other mode it might trigger weird behavior (for example if the IDE debugger expects a debugee to have certain output and we'll start printing to stdout)

[2022-09-13 11:37] tamasfe commented on #389
I thought of just logging to stderr, so anything that expects output via stdout is unaffected.

[2022-09-13 11:42] eyalb181 opened #405 "Tag completed releases with 'latest' tag as a final step of the release action"
install.sh was changed to download the latest tag. We should therefore change this tag automatically to point to the latest version after a successful run of the release action.

[2022-09-13 11:48] #391 closed

[2022-09-13 12:04] aviramha commented on #389
Hmm I'm worried it might be too much magic for some (abusing stderr). @eyalb181 wdyt?

[2022-09-13 12:31] aviramha commented on #389
Thinking about it a bit more - in our tests with layer we assert stderr is empty for example..

[2022-09-13 12:39] tamasfe commented on #389
I typically emit all user-facing logs to stderr in my applications so things that might consume stdout are unaffected by them (cargo does the same for compilation progress messages).

It's entirely possible to disable logs for dumb terminals as well of course like you suggest.

[2022-09-13 15:16] eyalb181 commented on #389
For me, stdout makes more sense here. We'd like to keep it enabled in dumb terminals too though, so we could use it to show progress in our IDE extensions.

[2022-09-13 15:33] eyalb181 commented on #396
@tamasfe The new version (3.0.3-alpha) is out, if you get a chance to test it let us know :)

[2022-09-13 15:50] aviramha commented on #389
Don't hate me but I think we should have different implementations based on flags.
`MIRRORD_ENABLE_PROGRESS=std` -> will have implementation of just printing lines/using spinners
`MIRRORD_ENABLE_PROGRESS=ext` -> will print jsons/other API friendly output
and by default it'd be off..

[2022-09-13 16:06] eyalb181 commented on #389
By default MIRRORD_ENABLE_PROGRESS would be off? Not std?

[2022-09-13 18:29] #345 closed

[2022-09-13 20:33] aviramha opened #412 "mirrord exec - verify binary executes can be loaded into"
Right now we might have a weird UX where we just don't load.
We can easily add simple verifications such as checking if the binary is protected by SIP (is in `/usr/bin` and other paths) and expand the functionality as we go.

[2022-09-14 08:28] eyalb181 commented on #405
Closed in #407

[2022-09-14 08:28] #405 closed

[2022-09-14 09:04] tamasfe commented on #396
Thanks! It seems to start up as expected.

[2022-09-14 09:04] #396 closed

[2022-09-14 09:24] tamasfe commented on #389
Alright, so to summarize I'm thinking of 4 modes:

- fancy mode progress with spinner and whatnot, potentially with colors (windows is my concern regarding colors)
- less fancy but still user-readable mode if the terminal is dumb or not a tty
- JSON mode for IDE integrations
- quiet/off, no output

All of them go to stdout, this means that user-readable output and JSON cannot coexist.

I would not

[2022-09-14 09:30] tamasfe commented on #397
#396 has been fixed, but no traffic is captured still, or at least the traffic I expect. Linkerd uses its own TLS that could interfere, or some other magic. Without knowing mirrord internals, I can't investigate this further for now.

[2022-09-14 10:08] eyalb181 opened #413 "VS Code Extension breaks on startup due to clashing both include and exclude env vars being specified"
### Bug Description

The VS Code extension populates MIRRORD_OVERRIDE_ENV_VARS_INCLUDE and MIRRORD_OVERRIDE_ENV_VARS_EXCLUDE with empty values by default. This isn't supported by mirrord-layer and it crashes.

### Steps to Reproduce

Run the latest version of the extension.

### Backtrace

_No response_

### Relevant Logs

_No response_

### Your operating system and version

MacOS

### Local proc

[2022-09-14 11:32] tamasfe commented on #390
After some thinking, the current behaviour *feels* wrong but I don't have alternative suggestions yet. `RUST_LOG=info,mirrord=error` or similar could work, but for some reason I think the logs should be separate. I think additional support for logging to a file instead of stderr should be enough.

[2022-09-14 13:26] aviramha commented on #390
I thought about it as well - I came to the idea of having a `-v,vv,vvv,vvvv,vvvvv` flags that will enable the logs as most users aren't aware of rust logging facility, maybe as part of it we can separate it from using `RUST_LOG`

[2022-09-14 13:28] aviramha commented on #389
That sounds good (spans and subscriber layer)

[2022-09-14 15:11] #413 closed

[2022-09-14 15:15] eyalb181 opened #417 "VS Code crashes when debugging Go"
### Bug Description

When debugging Go, the application hangs for a while and then crashes with a lot of errors, for example:
2022-09-14T13:52:01.961115Z DEBUG mirrord_layer::file: HookMessage::OpenFileHook path "/Users/eyalbukchin/Library/Application Support/go/env" | options OpenOptionsInternal {
    read: true,
    write: false,
    append: false,
    truncate: false,
    create: false,
    cre

[2022-09-14 16:12] t4lz opened #418 "Remote DNS fails for outgoing UDP over IPv6 messages"
### Bug Description

Outgoing UDP messages fail if destination is specified by name, not address, because of a DNS error on the agent.

### Steps to Reproduce

1. Checkout a [Node.js script](https://github.com/t4lz/mirrord/blob/outgoing-udp-ipv6/tests/node-e2e/outgoing/test_outgoing_traffic_udp6_client.mjs) that sends out 1 UDP message, e.g by running:
[code]
[code]
[code]
2. Run that node script

[2022-09-15 08:17] t4lz commented on #418
Running directly on the target pod with `kubectl exec -it <POD-NAME>  -- /bin/bash` and installing `nc` (`apt update && apt install netcat-openbsd`), `nc -u -6 <HOST> <PORT>` fails, so maybe this is not a bug in mirrord? I guess we can install `node` on the pod and run the same script and verify we get the same result.

[2022-09-15 12:41] DmitryDodzin opened #424 "Revert #423 once tower compiles on nightly again"
Undo pin of nightly version once our code compiles

relevant: #423 and rust-lang/rust#101844

[2022-09-15 15:30] t4lz commented on #323
Currently UDP is only supported if the application binds a non-0 port and also calls `connect` on the socket, which is not mandatory for UDP. It was decided not to implement support for "`connect`-less" UDP yet.

[2022-09-15 16:25] #347 closed

[2022-09-15 16:26] #334 closed

[2022-09-15 21:37] meowjesty opened #425 "`tracing::instrument` in `write_detour` breaks with node apps."
### Bug Description

[code]

This crashes node apps when the fd belongs to stdout. The other `_detour`s for file ops do not appear to break, so guess it's only this one.

### Steps to Reproduce

1. run node app with mirrord (file ops enabled [default]);
2. crash.

### Backtrace

[code]

### Relevant Logs

[code]

### Your operating system and version

Windows 10 wsl (Ubuntu 20.04.4 LTS)

### Local

[2022-09-18 12:06] #424 closed

[2022-09-18 12:58] #425 closed

[2022-09-18 14:57] eyalb181 commented on #368
This might be happening because we're trying to load into the arm64e compiled debugger. Waiting for the fix @infiniteregrets before testing again.

[2022-09-18 19:18] tamasfe opened #433 "`-x` has no "*" option"
### Bug Description

`-s '*'` can be used to include all environment variables from a pod but `-x '*'` is ignored. `-s ''` can be used for the same effect as a workaround.

### Steps to Reproduce

1. run `mirrord exec -x '*' ...`
2. assert that env variables from the pod are there

### Backtrace

_No response_

### Relevant Logs

_No response_

### Your operating system and version

Linux

### Loc

[2022-09-18 19:21] eyalb181 commented on #433
Don't you get the same behavior from omitting these two arguments entirely?

[2022-09-18 19:35] tamasfe commented on #433
My observations without looking at the code:

- without flags all env vars are enabled from the pod
- `-s ''`: no env vars from pod
- `-x "FOO"`: env vars from pod without `FOO`

[2022-09-19 04:29] aviramha commented on #433
I assume the desire here is to not have remote environment. The default is to provide same env

[2022-09-19 06:52] eyalb181 commented on #433
Yup, understood, my mistake.

[2022-09-19 07:38] #264 closed

[2022-09-19 16:38] eyalb181 opened #439 "Add e2e tests for .NET"
We should add e2e tests for common .NET workflows.

[2022-09-19 18:12] #358 closed

[2022-09-19 18:55] IsaacCloos commented on #439
# ✋🏻

[2022-09-19 19:12] eyalb181 commented on #439
Good luck!

[2022-09-19 23:15] #298 closed

[2022-09-19 23:15] #308 closed

[2022-09-21 17:31] #417 closed

[2022-09-21 19:21] eyalb181 opened #462 "Non-indicative error when running on a Completed pod"
### Bug Description

When running on a Pod with state=Completed, we get a non-informative error as can be seen in the logs. We need to detect that the pod is in a running state, and if it isn't, display a more helpful error.

### Steps to Reproduce

Run mirrord with IMPERSONATED_POD_NAME=<name of a pod with state=Completed)

### Backtrace

_No response_

### Relevant Logs

[code]

### Your operati

[2022-09-22 10:52] t4lz opened #468 "Add to the docs some clarifications about traffic."
There is some stuff that I think should be made more clear for users and readers:

1. The terms _incoming traffic_ and _outgoing traffic_ are mostly meant on the session level.
2. In mirror mode, responses generated by the local process for requests (in incoming sessions) are dropped.
3. Outgoing(-session) traffic forwarding is enabled by default.
    - This means that in a very basic scenario wit

[2022-09-22 12:02] #323 closed

[2022-09-22 13:17] eyalb181 commented on #388
Hey @tamasfe, this should be fixed in the latest version. Please let us know if it reproduces.

[2022-09-22 13:17] #388 closed

[2022-09-22 13:28] #317 closed

[2022-09-22 21:40] infiniteregrets commented on #280
hi @simobgl, we just had an alpha release for mirrord with support for goland macos/linux. You can download the release from here https://plugins.jetbrains.com/plugin/19772-mirrord/versions/alpha/227480 and manually install it in preference -> plugins -> settings icon -> install from disk.
Let us know if you need any help! Thanks (:

[2022-09-23 12:05] eyalb181 commented on #368
Still getting this on 3.0.10.

[2022-09-23 14:25] infiniteregrets commented on #368
@eyalb181 does it work normally without mirrord enabled?

[2022-09-23 16:27] eyalb181 commented on #368
Yup

[2022-09-24 09:20] eyalb181 opened #472 "Add integration tests for traffic mirroring"
Since we've disabled traffic mirroring tests in the e2e suite because they were flakey, we need to cover this functionality in hopefully less flakey integration tests.

[2022-09-24 13:36] aviramha commented on #27
We still lack some UDP flows AFAIK based on what @t4lz said (recvto/sendto flow)

[2022-09-24 15:58] eyalb181 commented on #27
My mistake, reopened.

[2022-09-25 12:24] eyalb181 opened #473 "Change many requests test to be less fragile"
Currently, the 'test_outgoing_traffic_many_requests' test makes a bunch of requests to different sites, and fails if even one request fails. We should change it to only fail if two or more requests (out of the 14) failed.

[2022-09-25 15:35] IsaacCloos commented on #439
# Preamble

Sorry for delay! I have most of my free time on the weekends, and was only just able to sit down to get a lay-of-the-land on this issue. If at any point this issue or related works need to be escalated please reassign 👍🏻.

[TLDR](#question)

# Stage

| Stage | Status |
| :---         |     :---:      |
| Get Current Tests Working   |  In Progress  |
| Define Test Expectations     |

[2022-09-25 16:12] infiniteregrets commented on #439
Extracted library file to "/var/folders/xx/5c4wz4613s780646p68l6g380000gn/T/test.ut6bK01O1C3G/x0slmsfwds-libmirrord_layer.dylib"
Couldn't execute Errno(Errno { code: 2, description: Some("No such file or directory") })

How are you running mirrord? This happens when the binary path is not valid

[2022-09-25 18:54] aviramha commented on #439
I assume they didn't compile the go e2e tests, we should add a note that this is required for go e2e to run.

[2022-09-25 20:51] victorvianna opened #474 "Test files are copied to the agent container in production"
### Bug Description

I'm not a big docker user, but this line seems to suggest that tests are still taking up space in the container for a production environment.
https://github.com/metalbear-co/mirrord/blob/3795e759d42713cd97624f1ced62d7f0a31e8817/mirrord-agent/Dockerfile#L12

### Steps to Reproduce

N/A

### Backtrace

_No response_

### Relevant Logs

_No response_

### Your operating system an

[2022-09-25 21:21] infiniteregrets commented on #474
I think tests are a part of the project workspace, which is why we need to copy them

[2022-09-26 02:51] IsaacCloos commented on #439
The online [Testing & Development Guide](https://mirrord.dev/docs/developer/testing/#build-and-run-mirrord) recommends running mirrord with a local process:
`MIRRORD_AGENT_IMAGE=test MIRRORD_AGENT_RUST_LOG=debug RUST_LOG=debug target/debug/mirrord exec -c --pod-name py-serv-deployment-ff89b5974-x9tjx node sample/node/app.mjs`. This is what I've been doing (with the pod name changed).

---

I have

[2022-09-26 05:32] aviramha commented on #439
@IsaacCloos - Thank you and sorry for the troubles!
I think it's best to follow what we do in the [CI yaml](https://github.com/metalbear-co/mirrord/blob/main/.github/workflows/ci.yaml) specifically the e2e part.
For each go directory, we both compile it for go 1.18 and go 1.19.

[code]

[2022-09-26 05:35] aviramha commented on #474
Hey Victor, Thanks for reporting it. As @infiniteregrets due to our workspace nature we have to have all workspace members as part of the compilation, never the less it still doesn't matter much as we do [multi stage build](https://docs.docker.com/build/building/multi-stage/). In our case, we have a build & run stages - build has the unneeded files, but it isn't shipped with the final image, only

[2022-09-26 05:35] #474 closed

[2022-09-26 16:42] meowjesty commented on #377
Alright, this behaves exactly the same in the pod (no more `Unknown system error`):

- pod

[code]

- local app (preloaded)

[code]

[2022-09-26 16:42] #377 closed

[2022-09-26 18:21] meowjesty commented on #398
Looks like `curl localhost:80` works (slightly edited logs to reduce noise):

[code]

- `kubectl get svc apache -o yaml`:

[code]

[2022-09-27 09:47] t4lz commented on #473
Interesting, I hope this is not the return of https://github.com/metalbear-co/mirrord/issues/331. Will verify that before relaxing the test.

[2022-09-28 07:32] #468 closed

[2022-09-28 13:05] t4lz opened #477 "Layer is loaded twice (dyld inserts library twice when running python)"
### Bug Description

When running python with mirrord, the layer dylib gets loaded twice, which is observable e.g. via duplicate layer logs.

### Steps to Reproduce

1. `kubectl apply -f tests/app.yaml`
2. `MIRRORD_AGENT_RUST_LOG=trace RUST_LOG=mirrord=trace target/debug/mirrord exec -c -p $(kubectl get pods --template '{{range .items}}{{.metadata.name}}{{end}}' --selector=app=py-serv) --no-outgoi

[2022-09-28 13:12] #477 closed

[2022-09-29 03:58] IsaacCloos commented on #439
Thank you for the help!

I've got a draft PR open for feedback and I'd love to iterate on that work until it meets the needs of this project.

Also,

The test suite of this project has been a learning curve. The different ways to run the project, container environments to use, and different architectures can lead to a lot of extra work to feel comfortable with tests (new and old) working correctly

[2022-09-29 08:40] eyalb181 commented on #397
Update: service mesh proxies should be mostly supported now, with the exception of traffic mirroring (stealing works fine). The reason for this is that we only starts mirroring when a connection is closed and a new connection is opened, and this can take a while to happen on linkerd (keep-alive is 10 seconds, so we'd need it not to receive any requests for that amount of time).

[2022-09-29 16:29] #348 closed

[2022-09-29 19:41] #398 closed

[2022-10-01 14:22] #392 closed

[2022-10-01 14:22] #293 closed

[2022-10-02 08:35] itaischwartz opened #482 "Support cleaning mirrord-agent pods"
Using mirrord 3.0.10-alpha
`mirrord exec` results in an orphan `mirrord-agent` pods with status `NotReady`
I think you should document this behavior, and add a way to remove the pods using mirrord CLI.

[2022-10-02 18:28] aviramha commented on #482
Hey @itaischwartz ! Thanks for opening the issue. This sounds like a bug. Did mirrord work alright?

[2022-10-03 07:54] itaischwartz commented on #482
It didn't
Maybe it was something on my side (We're using istio service-mesh)
I was using the following command:

 mirrord exec --pod-name backend -n apps --impersonated-container-name
backend ./bin/server :80

‫בתאריך יום א׳, 2 באוק׳ 2022 ב-21:28 מאת ‪Aviram Hassan‬‏ <‪
***@***.***‬‏>:‬

[2022-10-03 11:08] aviramha opened #484 "Add brew install"
Write a brew formula for Linux and macOS. Add the instructions on how to use it to mirrord.dev and the README file.

[2022-10-03 15:13] aviramha opened #485 "Istio mesh leads to pod notready"
### Bug Description

When running mirrord in a cluster with Istio mesh with auto injecting enabled the pod spawned by mirrord is injected with a sidecar that renders mirrord useless. The solution would probably be adding the no injection annotation
[code]

### Steps to Reproduce

run mirrord in a istio with auto injection enabled

### Backtrace

_No response_

### Relevant Logs

_No response_

###

[2022-10-04 02:33] #289 closed

[2022-10-04 06:25] aviramha commented on #482
Opened relevant issue - https://github.com/metalbear-co/mirrord/issues/485
Regarding the cleaning of the pods - we shouldn't have any lingering pods after you're done using, so I don't think we want to add such feature (as it might imply to users that we mirrord persists longer than promised). Closing this and let's track this in the new issue.

[2022-10-04 06:25] #482 closed

[2022-10-04 10:47] eyalb181 commented on #251
Hey @neimsaci, we've not heard anything for a while so opening this one back up for takers, let me know if you plan to get back to it.

[2022-10-04 17:20] detronetdip commented on #484
I am interested in this issue could you please elaborate it to me.

[2022-10-05 03:50] thedanvail commented on #366
I'll start taking a look at this. CC @infiniteregrets

[2022-10-05 07:14] eyalb181 commented on #484
Sorry @detronetdip, we've already started work on this one, forgot to change the assignee.

[2022-10-05 09:33] detronetdip commented on #484
Ok

[2022-10-05 10:09] eyalb181 opened #492 "Wrapping a Flask process with an absolute path causes issues with file reads"
### Bug Description

When running a Flask process with mirrord and specifying the file's full path (e.g. `mirrord exec -p podname -- python /Users/eyalbukchin/flaskapp.py`), the process tries to open files with their absolute paths (e.g. /Users/eyalbukchin/templates/homepage.html), which of course don't exist on the remote pod.

### Steps to Reproduce

Run a Flask process with mirrord, specify the

[2022-10-05 18:08] #355 closed

[2022-10-05 21:14] t4lz opened #494 "No warnings on build."
There are some new warnings showing when building the project with cargo.

[code]
It would be nice if there were no warnings at all.
The issues they are warning about should be solved, or if they're false alarm they should be silenced.

[2022-10-05 21:15] t4lz commented on #494
`good_first_issue`?

[2022-10-06 16:33] #412 closed

[2022-10-06 16:58] t4lz commented on #494
Actually I still get
[code]
That one isn't new, but maybe someone wants to see how to solve or silence it :)

[2022-10-06 17:56] infiniteregrets commented on #494
I guess a way to silence it would be to actually use mirrord in the tests and just add allow dead code config on top

[2022-10-06 18:40] t4lz commented on #371
Was this solved by https://github.com/metalbear-co/mirrord/pull/481?

[2022-10-06 21:35] #494 closed

[2022-10-07 05:10] aviramha commented on #371
Yes It should be solved. Can you try to test it then close?

[2022-10-07 12:15] t4lz commented on #371
Tested with the same istio example setup, using this command:
[code]
And the app now works, details and reviews appear. I verified that I'm served by the local process by changing the book title in the local `productpage.py`, and also verified with `kubectl` that the agent was indeed running in a different namespace than the target pod.

[2022-10-07 12:15] #371 closed

[2022-10-09 09:49] itaischwartz opened #524 "Extend label support"
mirrord assumes that the pod contains an `app` label.
https://github.com/metalbear-co/mirrord/blob/28856ded64c48751612bd9c2aa6f3245bdf324d2/mirrord-layer/src/pod_api.rs#L480

I wish you either add this as a requirement in documentation or add an option to provide a custom label.

Using `mirrord 3.0.19-alpha`

[2022-10-09 12:50] eyalb181 opened #526 "Update mirrord.dev Quick Start"
It's pretty outdated.

[2022-10-09 13:21] eyalb181 opened #527 "Support automatic downsizing of deployments with replicas > 1"
When running mirrord on a deployment with replicas > 1, we impersonate a single replica (the first one). When this happens we miss the traffic that reaches the other replicas.
We should support downsizing to one replica when mirrord starts, and resizing back to the original replica number when mirrord exists. This is pretty intrusive so should only happen when the user specifies it through an argu

[2022-10-09 13:43] eyalb181 opened #529 "Ignore PATH when getting remote environment variables, unless explicitly specified in the include list"
Getting the remote PATH environment variable can cause issues (plus we don't see a use case where you'd actually want to do it), so we should use the local value by default (even if remote environment variables are enable). The only case where we should import it is when the user explicitly specifies it by name in the "env var include" argument.

[2022-10-09 13:44] eyalb181 opened #530 "Add include/exclude list functionality for fileop paths"
We should let users specify which paths to include or exclude from remote file ops.

[2022-10-10 07:24] mentos1386 opened #531 "exec panic auth error aws"
### Bug Description

Running `mirrord exec` with kubeconfig set to execute aws command to get token, fails with panic.

### Steps to Reproduce

1. Create EKS cluster
2. Run `aws eks update-kubeconfig --name test-cluster --alias test-cluster`
3. Run `mirrord exec ...`

### Backtrace

[code]

### Relevant Logs

_No response_

### Your operating system and version

Manjaro Linux

### Local process

B

[2022-10-10 07:51] eyalb181 commented on #531
Hey @mentos1386, thanks for reporting!

- The reproduction steps you added refer to 'test-cluster' but it looks like mirrord tries to authenticate against 'development-cluster', could that possibly be the issue?
- Do normal kubectl commands (e.g. `kubectl get pods`) work?
- Would you be able to attach the `user` record for whatever cluster is set as `current-context` in your kubeconfig?

[2022-10-10 07:56] #526 closed

[2022-10-10 08:24] t4lz commented on #473
Is this still needed, @eyalb181?

[2022-10-10 09:46] t4lz commented on #473
Actually, there is [this run](https://github.com/metalbear-co/mirrord/actions/runs/3199607075/jobs/5225633728) that seems to me like there might be a bug in mirrord, not in the tests. Looks to me like the process crashed after mirrord got a RESET and stopped handling stuff. But we didn't get any of the output from [the code](https://github.com/metalbear-co/mirrord/pull/476/files#diff-d1ffc3ea3849a

[2022-10-10 11:09] mentos1386 commented on #531
@eyalb181
1. It's a discrepancy between reproduction steps and logs. The actual cluster name in kubeconfig is set correctly.
2. Yes they work.
3.
[code]

[2022-10-10 14:30] #472 closed

[2022-10-10 21:51] tamasfe opened #538 "Config file JSON schema"
A JSON schema for `mirrord.toml|yaml` that is submitted to the [schema store](https://schemastore.org) would enable linting/completion in IDEs and other tools.

It could be either hand-written, or preferably generated with something like [schemars](https://crates.io/crates/schemars).

Open tasks:

- [x] documentation of fields
- [x] distribution either via the schema store (or probably the vscode

[2022-10-11 14:16] infiniteregrets opened #542 "Add changelog to intelliJ extension"
Currently, we don't have a changelog in the extension that can be displayed on the website, it would be better if we could just copy the changelog on release from mirrord

[2022-10-11 14:53] aviramha commented on #538
Great idea! we'll prioritize it.

[2022-10-11 14:59] infiniteregrets commented on #524
hi @itaischwartz, thanks for opening the issue! I have patched the deployment target selection not to use the app label, but rather just rely on the labels present in the deployment. I will update the documentation accordingly.

[2022-10-11 16:30] aviramha commented on #531
Thanks for reporting this @mentos1386 . We're trying to get to the bottom of this, but as a workaround I can suggest you add the environment variable `MIRRORD_SKIP_PROCESSES=aws`.
The issue is that mirrord gets loaded into the aws cli as well, in a recursive manner (because mirrord obtains credentials for k8s using aws cli, which loads mirrord that again loads aws cli, to infinity). We have a feat

[2022-10-11 16:37] aviramha commented on #531
Just to be sure, the process you're running `mirrord exec` with is a bash script, right?

[2022-10-11 17:24] mentos1386 commented on #531
I tried first with a bash script but later running it without bash script and calling it directly.

One special thing about the environment I'm running this in, is that I'm using [devbox](https://github.com/jetpack-io/devbox). I'll try it out tomorrow without devbox to see if that might have caused it.

[2022-10-11 18:14] meowjesty commented on #530
Few questions about this:

1. Do we keep our ignored file list? Say the user specifies `--exclude=/foo`, do we exclude this path + our default?
2. Should the user be able to override our ignored list (allow the user to `--include=/home/{user}/Downloads` for example)?
3. How should a flag like `--include` work? Say we have `--include=/foo;/baz/bar`, does this mean that we exclude every other path?

[2022-10-12 05:17] aviramha commented on #538
Closed by #543. Thanks @tamasfe !

[2022-10-12 05:18] aviramha commented on #524
Closed with #534 . Thanks @infiniteregrets for solving it and @itaischwartz for the report. It will be available in the next mirrord version.

[2022-10-12 05:18] #524 closed

[2022-10-12 09:19] aviramha opened #551 "Add mirrord nix package"
I saw in #531 that the user uses devbox/nix packages so thought it'd be nice to publish mirrord there as well.

[2022-10-12 09:25] tamasfe commented on #538
The schema exists, but it still needs
- documentation of fields
- distribution either via the schema store (or probably the vscode extension)

[2022-10-12 09:39] aviramha commented on #538
@tamasfe reopening - let's use this issue for tracking the required steps that needs to be done.

[2022-10-12 12:34] eyalb181 opened #556 "Skip service mesh proxy containers"
When mirrord runs on a pod in a cluster with a service mesh, that pod would likely have a container for the service mesh proxy. In this case, mirrord should make sure not to impersonate this container but rather the next one after it.

[2022-10-12 15:31] aviramha commented on #531
We released a new version that should address the issue.
Please let us know if it helped.

[2022-10-12 18:44] aviramha opened #557 "Use kubectl config namespace by default"
Right now we use "default" namespace instead of the kubectl config namespace.

[2022-10-13 00:50] infiniteregrets commented on #389
closing this since #537 is merged

[2022-10-13 00:50] #389 closed

[2022-10-13 08:14] t4lz opened #562 "Mirrord terminates process when agent receives a connection reset while reading in outgoing tcp session."
### Bug Description

When the agent is trying to read from an outgoing tcp socket and receives a connection reset error (104/`ECONNRESET`/`ConnectionReset`), it sends the error back to the layer, which then emits an error and terminates the process [silently](https://github.com/metalbear-co/mirrord/pull/561).

The agent agent constructs a `ResponseError` [here](https://github.com/metalbear-co/mirr

[2022-10-13 08:26] itaischwartz opened #563 "Support for linux/arm64"
I would like to run `mirrord` in a Docker container.
For Apple silicon, this requires arm64 support.

[2022-10-13 08:27] t4lz opened #564 "Application gets RSTs on outgoing TCP sessions."
### Bug Description

The application gets resets which lead to a `ECONNRESET`.
I couldn't locate the cause neither in the layer's nor in the agent's logs, so I think maybe the RSTs originate with the layer (the layer drops the connection early and a RST is sent to the app on the mirror stream).

### Steps to Reproduce

It only reproduced on the CI, and only in twice out of thousands of outgoing re

[2022-10-13 08:41] t4lz commented on #473
https://github.com/metalbear-co/mirrord/issues/562
https://github.com/metalbear-co/mirrord/issues/564
Issues for some of the errors that sometimes cause this test to fail.

[2022-10-13 09:34] aviramha commented on #563
More context: arm64 support should be easy, arm64 + go support would take some more tinkering as right now we implement the trapmolines in assembly. @t4lz should solve this as part of his Go journey.

[2022-10-13 12:59] itaischwartz opened #567 "Support pod port-forwarding"
I would like to use mirrord to connect to managed RDS service.

I can use something like:
`mirrord exec --no-fs -s "" --target <deployment>   -- /opt/homebrew/opt/libpq/bin/psql -h rds-addr -U admin`
What if I want to use GUI applications such as pgAdmin?

I think something like
`mirrord proxy --target <depoyment> <remote_addr:remote_port> <local_addr:local_port>` could be useful for debugging

Re

[2022-10-13 13:04] #556 closed, assigned to aviramha

[2022-10-13 13:04] #557 closed

[2022-10-13 14:56] aviramha commented on #567
Thanks for reporting this! It's an interesting use case which can be supported.
If anyone else would like to see this implemented, please upvote it.

[2022-10-13 15:41] eyalb181 commented on #530
1. Good question. I think that for now we should keep our ignored file list in addition to the user's exclude list, but let the user override it with include if they want, like you suggested in 2.
2. ^
3. Yup

[2022-10-13 17:13] eyalb181 opened #571 "Support incoming traffic from multiple pods"
As discussed [here](https://github.com/metalbear-co/mirrord/discussions/541), when a deployment has multiple pods we only mirror/steal incoming traffic from one of them, leading to missed traffic. [This](https://github.com/metalbear-co/mirrord/issues/527) is being developed as a temporary solution, but we should strive to properly support incoming traffic from multiple pods.

[2022-10-14 07:35] aviramha commented on #531
Hey! Sorry about the troubles but there's another version which should help with the issue. Please let us know if it works for you.

[2022-10-14 08:08] mentos1386 commented on #531
No luck :(

Running `node ...` works fine (as it did before).
[code]

Running `npm run start:guard:dev` which is running "watch for file changes and re-compile things on the fly"-kind of thing. Does not work.
[code]
The `pstree` is the same as with last version.
[code]

[2022-10-14 11:01] aviramha commented on #531
Took me some time but I managed to reproduce it:
![image](https://user-images.githubusercontent.com/41201924/195831834-2e33ce05-89a9-477c-ac56-89730b871f1b.png)

[2022-10-14 15:04] aviramha commented on #531
Okay, I found a temporary workaround:
[code]
should work. I'm not sure what happens exactly, but it seems that the way `nix`/`devbox` works is by wrapping all binaries with a shell script, which means we call aws -> calls sh -> calls aws or something like that. sadly I couldn't get to the bottom of it but I think for now a fine work around would be to just patch our code to recognize a devbox/nix

[2022-10-14 16:31] tamasfe opened #574 "Agent-only (DNS+network) mode"
It's a bit of a niche, but there are occasions when I'd just like to access some service or services within the cluster with no container to impersonate.

Usually `k port-forward` is sufficient, however when domain names get involved (e.g. with multiple kafka brokers), it is just not enough.

It is currently possible to achieve this with mirrord, however one always has to find a pod to impersonate

[2022-10-14 17:36] mentos1386 commented on #531
Thanks for all the hard work!

IIRC i also noticed an issue outside of nix. I'll try to make a minimum reproducible repo over the weekend.

i will also try the workaround :)

[2022-10-14 18:34] aviramha commented on #531
@mentos1386 no problem you're welcome! I just released the version with the fix. Should be available to download in the next hour.
Let me know if any more issues arise.

[2022-10-14 19:46] tamasfe opened #577 "Error log on closed stream"
### Bug Description

Error messages during seemingly normal operation.

Are the following supposed to be `debug!`, or is it something unexpected I should look into?

https://github.com/metalbear-co/mirrord/blob/6451e0daf7941c743ad2d6864806dc2fdf20210c/mirrord-layer/src/outgoing/tcp.rs#L110

and

https://github.com/metalbear-co/mirrord/blob/6451e0daf7941c743ad2d6864806dc2fdf20210c/mirrord-layer/src

[2022-10-14 19:50] aviramha commented on #577
It looks like it needs to be `debug!` as you suggested.
@meowjesty WDYT?

[2022-10-14 19:54] meowjesty commented on #577
Ooops! Thanks for the report. These should be just `trace` or `debug` (feel free to point out similar logs, as I'm sure there are more 😅 ).

[2022-10-15 07:40] #577 closed

[2022-10-16 11:36] shaikustin opened #579 "mirrord hangs when agent is not created due to OutOfCpu"
### Bug Description

when the agent pod is not created due to OutOfCPU error, mirrord keeps on trying to create the agent and hangs on `waiting for pods to be ready`.
error on cluster is
[code]

### Steps to Reproduce

highly active node when running mirrord

### Backtrace

_No response_

### Relevant Logs

_No response_

### Your operating system and version

non relevant

### Local process

non

[2022-10-17 07:21] aviramha commented on #579
This is interesting - we don't have any resources request as we're not a SLA-based service, so we just use "extra" resources (atleast what we want).
I assume your cluster defines a default requests policy, so even if a pod spawns with no requests specified it adds it.
I'm thinking to address this issue with two changes:
1. add requests to our pod, so we won't get the default 100 which isn't probab

[2022-10-17 10:29] t4lz commented on #574
Here we're still executing some program, so I would say that `exec` should also be used for that new use-case. Maybe that mode could be enabled by a special `--target`? Maybe something like `--target cluster`? I think this functionality would also go well with the feature suggested in https://github.com/metalbear-co/mirrord/issues/567.

[2022-10-17 10:38] eyalb181 commented on #574
How about just not specifying a target?

[2022-10-17 10:46] t4lz commented on #574
Yeah that would be the nicest for users that want to use this feature, but I thought using an explicit target might be nicer for users that actually do want to use a target but forgot to specify it. Another possible alternative is to have a `--no-target` flag.

[2022-10-17 10:53] tamasfe commented on #574
This would feel natural to me, just typing `mirrord exec foo` would cause `foo` to "run inside" the cluster. I think omitting a target and a message at the beginning should be sufficient.

[2022-10-17 17:21] eyalb181 opened #582 "Add error reporting"
We should make it easier for users to report errors/crashes that happen when running mirrord.

[2022-10-17 17:23] eyalb181 opened #583 "Change VSCode Extension configuration to use the mirrord config file"
Currently configuration is done through the UI and is pretty non-standard and has to be updated every time we add a new configuration value (it's pretty out of date already). We should have it use the mirrord config file instead, and if possible and simple, also provide some UI for it - perhaps through the extension settings window of VS Code.

[2022-10-17 17:25] eyalb181 opened #584 "Change IntelliJ Plugin configuration to use the mirrord config file"
Currently configuration is done through the UI and is pretty non-standard and has to be updated every time we add a new configuration value (it's pretty out of date already). We should have it use the mirrord config file instead, and if possible and simple, also provide some UI for it.

[2022-10-17 19:41] aviramha commented on #531
Any luck? :)

[2022-10-17 19:43] eyalb181 commented on #473
@t4lz Good call, closing

[2022-10-17 19:43] #473 closed

[2022-10-18 11:22] DmitryDodzin opened #587 "Redefine Target in config file"
Currently target in config file target is represented as
[code]
A better representation for `target` and `target_namespace` in the config file would be a nested one
[code]

[2022-10-18 13:09] eyalb181 commented on #529
This was already implemented, it turns out.

[2022-10-18 13:09] #529 closed

[2022-10-19 17:22] IsaacCloos commented on #439
Absolutely no rush on this; can the title and description be updated to reflect the newly desired integration tests?

Do these tests live within the `mirrord-layer>tests` exclusively?

I want to make sure these tests are helpful and designed correctly. A little direction would make a huge difference 😄

[2022-10-19 18:30] aviramha commented on #439
Yes, that's the part in mirrord that is affected by frameworks/languages so it's actually testing it's flow and logic, hence being there.
You can see example of the other IT tests, but in general the idea is that we run an app with layer injected to it (using LD/DYLD method), connect it to a "mock" agent that validates the requests and sends the appropriate responses to see that it behaves correct

[2022-10-20 16:16] tamasfe commented on #587
I would suggest `selector` instead of path as it's often used in k8s lingo. Currently containers are selected by a single string, but in the future more sophisticated methods could be supported e.g. `selector = { kind = "pod", labels = { "app" = "foo } }`.

[2022-10-20 22:37] AeroNotix opened #605 "Pod Not Found"
### Bug Description

When trying to start mirrord exec, tool claims the pod is not found

### Steps to Reproduce

[code]

### Backtrace

_No response_

### Relevant Logs

_No response_

### Your operating system and version

Linux

### Local process

ping

### Local process version

_No response_

### Additional Info

_No response_

[2022-10-21 00:42] meowjesty commented on #605
Hey @AeroNotix , thanks for reporting this issue.

Could you give us more information about the environment (list of pods with `kubectl get pods` mainly)?

[2022-10-21 00:58] AeroNotix commented on #605
If you're asking whether the pod exists... yes it does.

[2022-10-21 01:34] meowjesty commented on #605
Wanted to check what's going on, as we're getting different behavior. Maybe it's something related to `ping`, so `ping -V` and more info about your Linux would also be helpful.

[2022-10-21 01:37] infiniteregrets commented on #605
@AeroNotix could you also please check if you don't have any typos/ your namespace is correct

You can also try running in this format:

[code]

[2022-10-21 06:01] aviramha commented on #605
Thanks for the report @AeroNotix and sorry for the troubles.
I assume the default namespace used by kubectl is different than the one used with `-n` and you're specifying a pod and not a deployment/service (you can specify deployment using `--target deployment/<deploymentname>`).
The only possible reason for it to fail (that I can think of right now) is maybe we have bug with the namespace + `--po

[2022-10-21 07:26] eyalb181 commented on #605
We've tested it and there indeed seems to be an issue with the -n argument. In the meanwhile, @AeroNotix  could you try using --target/--target-namespace arguments instead? So the command would be:
`./target/debug/mirrord exec ping some-service --target pod/some-pod-name -target-namespace some-namespace`

[2022-10-21 08:31] Afourcat opened #606 "Integration with nomad"
# Request
We are currently using nomad as our orchestrator. If we could seamlessly use mirrord with a nomad 'backend'.
with something like:
[code]

# Our use case
## Why is it important for us
For simplicity sake, we chose nomad over k8s. We can see how mirrord is useful to our workflow.

## How we would use it
We want to basically use it as much transparently as possible (compared to the k8s usag

[2022-10-21 11:14] AeroNotix commented on #605
Thanks for the responses. Definitely looks like you've reproduced it. After making this issue I did continue on and get things working with the `--target` and `--target-namespace` flags.

I _did_ also find that ping doesn't work, which is fine enough, I understand how you are hooking into things and it's entirely reasonable that not all protocols and network mechanisms work. I used ping as a simpl

[2022-10-21 11:40] aviramha commented on #605
@AeroNotix Thanks for the finding the bug and reporting.

That's great to hear. Thank you!

[2022-10-21 11:48] aviramha commented on #606
Thanks for the suggestion. I believe that at the moment we can't provide resources from our core team to own this as a task, but if anyone wants to implement it, we'll happily provide support and guidance in implementing it.

P.S - not knowing Nomad ecosystem, but I'd assume it's not much of an effort. The changes that would need to be done:
* Add new target "nomad/taskgroup/<taskgroupname>"
* Use

[2022-10-21 13:38] #605 closed

[2022-10-21 14:19] jbeaudetupgrade opened #610 "Add IntelliJ scrollbar for namespaces and pods list"
Hi!

I'm trying to use the IntelliJ plugin and running into an issue where the namespaces and pods list is too long for the window size so I cannot select the proper value. I can type in the box so I can select it but scrollbars would be much better!

Thanks!

<img width="578" alt="Screen Shot 2022-10-21 at 10 14 04 AM" src="https://user-images.githubusercontent.com/109541582/197217954-cd501afc-90

[2022-10-21 15:32] t4lz opened #611 "Hook go without using assembly code."
This should solve https://github.com/metalbear-co/mirrord/issues/380 and enable https://github.com/metalbear-co/mirrord/issues/563.

[2022-10-21 19:38] #610 closed

[2022-10-21 19:57] aviramha opened #615 "Better error for agent connection failed"
Right now if we can't make a websocket connection to the agent we get the following:
[code]
It's not very helpful as in many cases it means that
A. agent doesn't exist/exited
B. wrong kubernetes credentials used
we should specify those possible reasons.

[2022-10-21 20:16] tizz98 opened #616 "mirrord not working with kubie"
### Bug Description

I use [kubie](https://github.com/sbstp/kubie) to manage all of my kubernetes contexts. mirrord seems to respect this value when creating the mirrod-agent pod, but doesn't respect it when trying to fetch the portforwards for the pod.

In the attached logs you can see that mirrord is trying to connect to my local minikube rather than the remote EKS cluster.

### Steps to Reprodu

[2022-10-21 20:36] aviramha commented on #616
Thanks for reporting this.
Small correction - the issue starts when an existing agent is reused (i.e process launched by mirrord forks/execs/creates another process)
We tested if it's related to env variables, seems not (using '-s').

[2022-10-22 12:36] meowjesty commented on #616
Hey @tizz98 can you please provide a bit more info about your `kubie` (config, version).

If you have a minimal example app as well it would be greatly appreciated. I've tried to replicate this following your steps but my sample python app worked, so I need a bit more help to debug this further.

[2022-10-23 07:23] aviramha opened #618 "Distribute aarch64 linux binaries"
We can start distributing such binaries before we have support for Go hooking.
Steps:

- Make layer/cli compile for this architecture
- Modify the release yaml to include
- Add this platform to the integration tests matrix
- Change install script to not error on this architecture

Part of #563

[2022-10-23 12:24] eyalb181 commented on #373
We should come back to this when #611 is done - it would probably open up new possible solutions.

[2022-10-23 12:27] #39 closed

[2022-10-23 12:31] eyalb181 commented on #618
Note that this should support most languages, but not Go. We'll use #563 to track Go support.

[2022-10-23 12:35] eyalb181 opened #621 "Add sanity tests for the IntelliJ extension"

[2022-10-23 12:38] #248 closed

[2022-10-23 12:39] #250 closed

[2022-10-23 12:47] eyalb181 commented on #174
Hey @jim4067, we've not heard anything for a while so opening this one back up for takers, let me know if you plan to get back to it.

[2022-10-23 12:48] eyalb181 commented on #176
Hey @TawalMc , we've not heard anything for a while so opening this one back up for takers, let me know if you plan to get back to it.

[2022-10-23 12:48] #258 closed

[2022-10-23 12:51] eyalb181 commented on #363
@DmitryDodzin @infiniteregrets What's the verdict here?

[2022-10-23 12:52] eyalb181 commented on #380
Should be resolved by #611

[2022-10-23 12:55] aviramha commented on #531
Since there's no response I'll close the ticket in the next days as we're pretty sure it's fixed now.

[2022-10-23 12:58] #433 closed

[2022-10-23 13:08] eyalb181 commented on #579
Should be resolved in #599

[2022-10-23 13:09] eyalb181 opened #622 "Document mirrord config file"

[2022-10-23 13:30] eyalb181 opened #623 "Create video tutorial"

[2022-10-23 14:31] infiniteregrets commented on #174
@eyalb181 this was already fixed in a patch by jim, this can be closed

[2022-10-23 15:22] eyalb181 commented on #174
Oh great, thanks @jim4067!

[2022-10-23 15:22] #174 closed

[2022-10-23 20:18] tizz98 commented on #616
[code]

I'll try to get a minimal example sometime next week

[2022-10-24 02:46] manlm commented on #292
I'm still facing this issue on M1 Mac

[2022-10-24 05:37] aviramha commented on #292
Hey! We're sorry to hear that.
Can you open a new issue with more information please?
Specifically, which Go version, what mirrord version, example command line, etc.

[2022-10-24 08:11] t4lz commented on #292
Sounds a bit like https://github.com/metalbear-co/mirrord/issues/373.

[2022-10-24 08:34] Afourcat commented on #606
Hey @aviramha, thank you for responding so quickly.
I will give the codebase a good read and try to make something out of your guidance.
Thank you again,

Alexandre

[2022-10-24 08:46] eyalb181 commented on #615
Wasn't this closed by #617?

[2022-10-24 08:58] aviramha commented on #606
You're welcome! Let me know if you want to work on this and if you need further guidance, we can jump on a chat/call :)

[2022-10-24 09:06] #615 closed

[2022-10-24 14:13] #579 closed

[2022-10-25 03:41] infiniteregrets commented on #583
i think, if conifg file is found, we can just warn the user that we are using the config file otherwise we spawn the UI. besides that on the implementation level I think we'd have to use a json/toml/yaml parser and set the env accordingly..

[2022-10-25 04:05] infiniteregrets commented on #281
hey @IsaacCloos since you worked on the tests with containers, can you please provide some insight on this?

[2022-10-25 04:12] infiniteregrets commented on #492
sorry not sure if I understand, are you saying when the process's path is absolute, the files it opens before the server starts are absolute if they are supposed to be relative?

does the flask server not start?

[2022-10-25 06:31] eyalb181 commented on #492
I think in my case it did start, but then tried to load html templates from my personal user path but on the remote server

[2022-10-25 07:33] eyalb181 commented on #492
Yup, see my first comment. However Alex's PR is for supporting dynamic file filters, whereas we should add /Users to our static list

[2022-10-25 12:05] eyalb181 opened #628 "Add telemetry to IntelliJ extension"

[2022-10-25 13:44] t4lz commented on #611
Working on a POC in https://github.com/t4lz/going

[2022-10-25 19:45] #542 closed

[2022-10-26 02:03] IsaacCloos opened #634 "Macos development hurdles"
### Bug Description

Currently, the default branch cannot `check` or `build`  with macos (arm64).

The following dependencies are failing over code compatible exclusively with linux, and yet are required by the project to function on all development platforms.

1. [rawsocket](https://github.com/metalbear-co/rawsocket) | [added](https://github.com/metalbear-co/mirrord/pull/516) | [problem code](htt

[2022-10-26 02:33] infiniteregrets commented on #634
hi @IsaacCloos, thanks for opening this issue.
The `mirrord-agent` component heavily relies on some linux specific functionality and is shipped as an image, which is run as an ephemeral agent with the pod being impersonated.

On macos, you can't build `mirrord-agent`, however, you can compile like so: `cargo build --workspace --exclude mirrord-agent` or `cargo build -p mirrord` (this seems to igno

[2022-10-26 07:59] eyalb181 opened #636 "Revamp IntelliJ extension UI"
The UI in the IntelliJ extension looks a bit hacky at the moment, we need to revamp it to make it look more legit.

[2022-10-26 09:38] aviramha opened #637 "Use k8s auth once"
We have many issues from the scenario where the user has a k8s auth that depends on executing a command (`aws cli`, `gcp`, etc).
We have some workarounds, but it affects use cases where you'd like to run aws cli in context of remote or even normal use cases right now where user mirrors a remote pod which has AWS env, and then it forks - on launch it gets the AWS env affecting the new kube rs clien

[2022-10-26 09:44] aviramha opened #638 "Absolute symlinks on pod malfunction"
if app running mirrord tries to fetch `/var/run/lala` and `/var/run` is symlink to `/run` (which is common) it'd load `/var/run` of the mirrord pod instead of the one of the target container.

[2022-10-26 12:53] IsaacCloos commented on #634
Thank you for the detailed response!

Could cfg flags guard these components on systems they don't support?

[2022-10-26 13:07] infiniteregrets commented on #634
yw!, and unfortunately, not. Its linux based

[2022-10-26 13:09] infiniteregrets commented on #634
hope your question is answered, closing this issue. Feel free to reach out with any issues, either here or on our discord https://discord.com/invite/J5YSrStDKD. Thanks again and sorry for the inconvenience

[2022-10-26 13:09] #634 closed

[2022-10-26 13:15] #628 closed

[2022-10-26 13:40] #638 closed

[2022-10-26 13:54] wirtsi opened #640 "v3.2.0 and istio support"
### Bug Description

I am currently investigating mirrord in a rather complex multi-cluster Gloo Mesh setup (which is another layer on top of istio)

Now that https://github.com/metalbear-co/mirrord/issues/485, I would assume that mirrord should also work on istio setups without having to use `--steal`

I can confirm that with 3.2.0 the mirrord-agent is created correctly (so it has no sidecar) but

[2022-10-26 16:59] eyalb181 commented on #640
Hey @wirtsi, thanks for reporting! It's actually a known issue that we don't support mirroring on clusters with a service mesh. It's in the [FAQ](https://mirrord.dev/docs/overview/faq/#does-mirrord-support-clusters-with-a-service-mesh-like-istio-or-linkerd) - if you have an idea of a better place to put it, let us know.
We're currently working on adding support for mirroring though - we hope to ha

[2022-10-26 17:27] meowjesty commented on #27
Should we close this in favor of a more specific issue now (an issue about `recv_from` and `send_to` only)?

[2022-10-26 17:45] eyalb181 commented on #27
I think so. @t4lz can you open the new issue?

[2022-10-26 17:52] meowjesty commented on #418
This fails with a different reason now:

- layer:

[code]

- agent:

[code]

[2022-10-26 18:14] jamowei commented on #636
Is it ok now after my changes?

[2022-10-26 18:27] jamowei opened #644 "`ERROR: transport error 202: connect failed: Unknown error: 111` when debugging a JVM-app"
### Bug Description

I get the following error when I set the `MIRRORD_TCP_OUTGOING` to `true` on macOS an and a JVM-based service:
[code]

Here are my env vars which I'm using:
[code]

When I set `MIRRORD_TCP_OUTGOING` to `false` mirroring works as expected.

### Steps to Reproduce

1. set `MIRRORD_TCP_OUTGOING`to `true`
2. start `mirrord exec` with the JVM-based server
3. get the error message

[2022-10-26 18:31] jamowei commented on #584
I could try to find a solution for that, but where can I find the current config-file to read from? Does it get generated?

[2022-10-26 18:39] aviramha commented on #644
Thanks for reporting this @jamowei.
Can you please tell us what Java framework do you use? if you can provide some minimal reproducible program it can bee awesome!

[2022-10-26 18:44] aviramha commented on #616
Heyy @tizz98 , we just released 3.4.0 which changed a bit how we use kubeconfig/k8s API and I believe it might solve this issue as well.
Can you please try newest version at your comfort and let us know?

[2022-10-26 19:58] aviramha opened #646 "pod not found error improvement"
if you run mirrord with non existent pod (and I assume deployment as well) it prints a lot of messages that aren't clear that pod isn't found (it can be seen from the output but hardly).
we should improve the error so it won't be an unwrap with dump of data.

[2022-10-26 22:12] t4lz opened #647 "Handle outgoing UDP messages also without `connect` or `bind`"
With UDP, it's possible to send messages with the `sendto` function without calling the optional `connect` and `bind` functions first.
We need to make sure outgoing UDP messages are intercepted even if `connect` or `bind` are not called.
Also, currently if the application binds port 0, the connection is bypassed and not intercepted because 0 is an `ignored_port`.
Sockets that bind port 0 should ei

[2022-10-26 22:15] t4lz commented on #27
Closing in favour of https://github.com/metalbear-co/mirrord/issues/647.

[2022-10-26 22:15] #27 closed

[2022-10-27 05:00] meowjesty opened #648 "mirrord-cli doesn't play nice with extra arguments to `java` program."
### Bug Description

While looking into #644 I created a simple "Hello, World" java app, that works perfectly fine when run with:

[code]

But fails if you try to use `java -classpath` to specify the program directory:

[code]

Running `java -classpath ./tests/java-e2e HelloWorld` works fine, and the program prints "Hello, World!" as expected.

### Steps to Reproduce

1. Create a `HelloWorld.java`

[2022-10-27 05:54] eyalb181 commented on #636
Hey Jan, it's a step in the right direction, but another thing we wanted to try is to separate the settings to a different button so they don't show up every time mirrord is run. Ideally when you run mirrord you'd only have to pick a pod.

[2022-10-27 06:49] aviramha commented on #584
That'd be great @jamowei . We don't generate it, it's a file user can create then provide it as an input to mirrord.
The schema can be generated using `cargo test -p mirrord-config print_schema --features schema -- --ignored --nocapture`.

[2022-10-27 07:14] wirtsi commented on #640
Hey @eyalb181, thanks for the response. I did see the entry in the FAQ but I was hoping that the "cannot mirror traffic with istio" was fixed by #485. But there seems to be more to it, I will stay tuned.

For now mirrord is the tool that works best with our setup here. What I would be really interesting in is "conditional intercepts" (ie. only send to my machine if a cookie or request header is pr

[2022-10-27 07:14] #640 closed

[2022-10-27 07:52] aviramha commented on #640
Hey @wirtsi!
We're glad to hear that. In terms of priority, what would you prefer -
1. conditional intercepts
2. mirroring in mesh

As any team, we have to prioritize and we started working on 2 but maybe we should shift our priority to 1.

Thanks

[2022-10-27 09:13] wirtsi commented on #640
Oh cool, I even get to participate in the decision making, thanks 👍

I guess the conditional intercepts are more interesting for me, let me elaborate

* We have a bunch of teams working on different APIs and frontends, each team is in a K8S namespace, istio/gloo mesh sits on top of if it for cross-cluster communication and security (which namespace can speak to whom etc)
* I as a developer am work

[2022-10-27 09:41] aviramha opened #649 "SIP binaries support on macOS"
Currently we don't load into sip protected binaries on macOS. We have a way to fix it, need to implement.
If you face a use case where mirrord failed to load on macOS, please upvote/comment on this ticket with details so we can prioritize it accordingly.

[2022-10-27 10:44] aviramha commented on #640
Thanks for the elaborate response. That's great to hear such detailed use cases so we can build better for you.

Only one of the developers will receive the request. The rest should be able to mirror it though.

Totally. It's part of our roadmap.

Currently our plan is to add this feature after we release our operator. The operator will add the "multi player" features that will help teams/organiza

[2022-10-27 11:04] wirtsi commented on #640
Nice ... so this operator thingy sounds like it's the next step to what is needed. Looking forward to testing it out. I would assume that the conditional intercepts is also orchestrated via this operator.

What I am thinking ... the way I understand mirrord is that it runs on level 4, so it basically has no idea what k8s is doing but creates iptables entries (or however you do it) in the pod that

[2022-10-27 11:07] aviramha commented on #640
You understand it correctly. We plan to start decoding protocols soon, starting with HTTP so we can conditional filter based on HTTP headers, route, methods, etc.

[2022-10-27 11:39] jamowei commented on #644
Ok, I will try to create a small app to reproduce the error.

[2022-10-27 11:45] #637 closed

[2022-10-27 12:11] jamowei commented on #584
Ok, I tried your command and getting the following error on `master`-branch:
[code]

[2022-10-27 12:20] aviramha commented on #584
Sorry I was assuming you're running nightly. The correct one would be `cargo +nightly test -p mirrord-config print_schema --features schema -- --ignored --nocapture`

[2022-10-27 12:24] DmitryDodzin opened #651 "Improve MirrordConfig Documentation"
Improve Documentation for mirrord-config's `MirrordConfig` trait and derive macro with example of trait implementation for types that are unsupported by the derive macro and a more general examples of the approach we want to have in config section and the end user experience using mirrord  configuration file

[2022-10-27 14:42] meowjesty commented on #648
Alright, this happens because `clap` eats up the `-classpath` argument, so to run this properly you must use it in a way that is similar to how `kubectl` handles args:

[code]

[2022-10-27 15:59] aviramha commented on #584
Yes because it's used instead of most of the env vars.
The file you attached is a schema that conforms to https://json-schema.org/
You can create a file conforming to it then set the env var `MIRRORD_CONFIG_FILE` to the config file path and it will use it.
I appreciate the desire to help and would understand if you want to wait until we have more docs/examples of using the file, as an alternative

[2022-10-27 16:04] jamowei commented on #644
Hi, I tested it today with the current mirrord 3.4.0 version and the intelliJ extension and the error is gone! Thanks for the good work! 👍🏻

[2022-10-27 16:21] #492 closed

[2022-10-27 16:22] aviramha commented on #492
Fixed by https://github.com/metalbear-co/mirrord/pull/639

[2022-10-27 16:36] #648 closed

[2022-10-27 18:02] aviramha commented on #583
we don't need to set any env; you provide the layer the config path and it uses it instead of any other env.

[2022-10-27 18:02] aviramha commented on #583
we don't need to set any env; you provide the layer the config path and it uses it instead of any other env.

[2022-10-27 18:40] aviramha opened #657 "IntelliJ aarch64 support"
After we merge #656 we should add support for IntelliJ to distribute those binaries as well.

[2022-10-27 18:57] #530 closed

[2022-10-28 07:06] Afourcat commented on #606
Hello again @aviramha,

I'm currently working on this as a side project.
I'm more in an exploration phase than in a real implementation right now.
But, my though is, that the k8s' api is deeply integrated in the layer crate. I may need to make the `pod_api` module generic over the any kind of "api", or, create a `job_api` module.

Thank you,

Alexandre

[2022-10-28 11:34] jamowei commented on #644
Hi,

I dig deeper into this problem, and found out that this is a problem only occurs when using the IntelliJ debugging of a JVM-based application and mirrord in conjunction.
That is why it created a simple java sever app for testing and reproduce the problem in IntelliJ: https://github.com/jamowei/simple-java-server
In there, I use the same mechanism as the IntelliJ extension by providing the nee

[2022-10-28 12:13] aviramha commented on #644
hi @jamowei
Nice catch! It can be fixed using the env var `MIRRORD_SKIP_PROCESSES` that is used to avoid other debuggers in other languages as well (see `GoRunConfig.kt` for an example).
I will prioritize the fix, or if you wish you can send a PR (it should be easy -> detect if it's a debug launch of Java, and if so add the debugger process name to the MIRRORD_SKIP_PROCESSES env var)

[2022-10-28 12:15] aviramha commented on #606
That's great to know!
That sounds right.
A suggestion - you can "remove" pod_api and just replace it with nomad logic, send a PR and we'll adjust it in a generic way. The major hiccup from our side is not having nomad experience, but creating the abstraction would be fairly simple once we understand how the Nomad implementation can look like.

[2022-10-28 12:43] jamowei commented on #644
Ah ok, thanks I will try!

[2022-10-28 13:29] jamowei commented on #644
Sadly, this would not be so easy, because the IntelliJ launches no extra process for debugging:

processes which uses the debug-port:
[code]
processes which uses the application-port:
[code]
process tree-view:
[code]
The debug-agent is launched inside the java application-process and not as an extra process by the JVM...

[2022-10-28 15:18] aviramha commented on #644
P.S our team is on it.

[2022-10-28 17:44] jamowei commented on #644
Yeah, IntelliJ is connecting to the port spawned by the debug-agent after setting the jvm debug-option. I think when the connection could not be established, because of mirrord intercepting the error is thrown. When I turn off the outgoing feature of mirrod debugging works as normal. Sadly IntelliJ picks a random port everytime you start a new debug-session... But perhaps there is a way to pick th

[2022-10-28 18:01] jamowei commented on #644
I found out that when you use server-mode of the debug-agent by setting `server=y` instead of `server=n`
[code]
it also works with mirrord and outgoing feature enabled.
To begin with debuggin then, I have to start an extra remote debug session on the port `50547` in IntelliJ.
<img width="768" alt="image" src="https://user-images.githubusercontent.com/29158537/198702285-a3821344-c0a9-47c0-bced-689c

[2022-10-28 18:11] infiniteregrets commented on #644
thanks for the elaborate response! I am assuming this works because, we already ignore ports in range of 50K - 60K. It won't probably wont work If you specify a port beyond this range whose socket we don't keep track of

[2022-10-28 20:04] jamowei commented on #644
Ah ok, that explains why it sometimes work and sometimes not! When IntelliJ randomly pick a port > 5000 it works otherwise < 5000 not.

[2022-10-29 21:38] Afourcat commented on #606
Hello @aviramha,
I found out that nomad doesn't have the port-forwarding feature built-in ([yet ...](https://github.com/hashicorp/nomad/issues/6925#event-6796053630)). Which leads to sketchy workarounds where nomad nodes required the `socat` utility installed.
What do you think about that, is it an acceptable requirement ?
Do you have any idea on how to make this clean without the port-forwarding

[2022-10-29 22:20] infiniteregrets commented on #176
@meowjesty note: we can't use any std functions in the ctor, it causes a segfaults (in case of arm64e)

[2022-10-30 05:57] aviramha commented on #606
We can skip the socat and just use the stdin/out as means for communications with the agent directly.

[2022-10-30 12:00] #531 closed

[2022-10-30 12:15] aviramha commented on #640
hey @wirtsi,
I'd love to chat a bit more on calendly/Discord if you have 30 min.
If you're willing, feel free to pick a spot here:
https://calendly.com/aviram-5/30min

[2022-10-30 17:55] DmitryDodzin opened #663 "Unstable and Deprecated attributes in MirrordConfig derive macro"
Add attribute to MirrordConfig macro that print a relevant message to the user when passing config to mirrord-layer

- `deprecated | deprecated(message)`
- `unstable`

[2022-10-30 18:45] DmitryDodzin opened #664 "Reverse MirrordConfig macro struct implementation"
Right now `MirrordConfig`'s macro is placed on the file representation of the config and not the code version.

Better solution would be to generate the file config representation with macro
[code]
will generate
[code]

though not sure how to allow the functionality of simplifying collapsible structs in config ("Simple" / "Advanced" typed scenario)

[2022-10-30 19:08] DmitryDodzin opened #665 "Add Simplify attr to MirrordConfig macro"
Instead of supporting enums per say Possible would be to allow the file config to be simplified from one member of the struct, need #664 completed for this feature

[code]
should generate
[code]

[2022-10-31 10:03] DmitryDodzin opened #667 "Move Target enum to Mirrord Config"
Currently we parse `Target` enum from the value saved in `LayerConfig` as a `String`, parsing the `Target` as part of mirrord-config will allow us to improve user experience by allowing config like
[code]
or
[code]
and still retain the shorter version of
[code]

[2022-10-31 13:39] tizz98 commented on #616
yep that seems to have fixed it! Thanks!

[2022-10-31 13:39] #616 closed

[2022-10-31 13:52] JasonkayZK opened #670 ""unexpected response - expected env vars response None""
### Bug Description

I tried to use a binary executable file for testing.

And the pod crashed:

[code]

### Steps to Reproduce

1. Deploy a busybox image;
2. Use mirrord `mirrord exec --target pod/busybox-58d584f97b-pbtv8 -- ./main`;

### Backtrace

_No response_

### Relevant Logs

_No response_

### Your operating system and version

Centos 7.9

### Local process

None

### Local process versio

[2022-10-31 14:44] meowjesty commented on #670
Hey @JasonkayZK thanks for opening a bug report.

Could you provide a bit more info about the issue:

- Any additional info on what `./main` is doing (even better if it's open source)?
- Could you run `file ./main` and post the results?
- What language (and framework) is being used in the binary?
- Could you run it again, and check that the mirrord-agent pod is being created (post the results of `

[2022-10-31 15:05] #587 closed

[2022-10-31 15:05] #667 closed

[2022-10-31 23:50] JasonkayZK commented on #670
While, the main program is simple:

[code]

That, i wanted to start a server in the pod. So, it's simply a go binary executable file, that created by `go build main.go`.

The `file ./main`:

[code]

Actually, the `mirrord-agent` does created about 2-3 seconds but soon it exited with no logs.

[2022-11-01 07:11] aviramha commented on #670
Thanks!
Can you provide your go version? using `go version`
Also, can you run the same with env var at start?
`MIRRORD_AGENT_TTL=60 mirrord exec --target pod/busybox-58d584f97b-pbtv8 -- ./main`
it will make the pod linger for about 60 seconds after it finished so you can collect logs using `kubectl logs`

[2022-11-01 07:31] JasonkayZK commented on #670
The go version is `go version go1.19.2 linux/amd64`;

I tried the command, and it did print some logs:

[code]

[2022-11-01 08:46] aviramha commented on #670
Sorry about the troubles. I think we're close to figuring it out.
Can you re-run with the following?
`MIRRORD_AGENT_RUST_LOG="mirrord=trace" MIRRORD_AGENT_TTL=60 mirrord exec --target pod/busybox-58d584f97b-pbtv8 -- ./main`
then obtain logs?
Also, could you provide more info about the cluster? what kubernetes version, which cloud provider or local? if local, which software (minikube,k3s, etc)
Anyt

[2022-11-01 09:00] JasonkayZK commented on #670
Sure, i re-run the command, and here is the log:

[code]

I run the k8s(single node) as Kind which is provided by:

- https://github.com/kubernetes-sigs/kind

And here are these tools version:

[code]

And by the way i firstly tried run in my k3s cluster, but it did has some network problems.
But it was not relevant with this issue. 😭

[2022-11-01 15:40] aviramha commented on #670
I have a good guess on what's the issue - can you check if you have `eth0` on your machine? `ifconfig` / `ip a`

[2022-11-01 15:55] alairock opened #677 "Ventura dylib issue"
### Bug Description

After installing ventura on my M1 macbook, I started seeing this error:

[code]

The path `/System/Volumes/Preboot/Cryptexes/OS/User/*` does not exist.

I am unable to start mirrord from inside vscode as a result of this error.

### Steps to Reproduce

1. Installed mirrord (v3.4, in my case)
2. Upgrade macos to Ventura on my M1
3. Got error as shown above
4. Updated mirrord to

[2022-11-01 16:18] aviramha commented on #677
Thanks for reporting this @alairock ! I'm sorry for the inconvenience.
I'm actually on Ventura and it works for me so it's a bit of a puzzle.
Can you please specify what go version you're running `go version`?
Also, can you run `file BINARY` on the built binary from go?
The problem seems to be that the binary is ran doesn't have an architecture.. which is, weird. the `file` command might shed some

[2022-11-01 16:35] alairock commented on #677
`go version`
[code]

`file BINARY`
[code]

[2022-11-01 17:28] aviramha commented on #670
P.S How did you install Centos? It seems that the default libc isn't compatible with mirrord?

[2022-11-01 19:18] seferino-fernandez opened #678 "intellij-ext: mirrord doesn't work when the service account doesn't have permissions to list namespaces"
### Bug Description

Hello! I have limited access to a work cluster and one of the permissions I'm lacking is the ability to list namespaces (https://github.com/metalbear-co/mirrord/blob/main/intellij-ext/src/main/kotlin/com/metalbear/mirrord/MirrordListener.kt#L42).

I'm wondering if you can add some type of handling to either get the current namespace only, or allow user input to specify the nam

[2022-11-01 20:16] eyalb181 commented on #678
Hey @seferino-fernandez , thanks for reporting! It's definitely doable, we'll let you know when the fix is released.

[2022-11-01 22:09] infiniteregrets commented on #644
hey @jamowei, the patch was merged. Hopefully, it should work for you now!
There will be an elaborate API for dealing with ports just like files soon, so keeping this issue open.
Thanks for the report again!

[2022-11-02 02:44] JasonkayZK commented on #670
No, there does not has the `eth0`, but there does have `eth1` instead.
Maybe it's the libc's problem. Although the os is CentOS, but it's a modified version for company use.
Also, i tried the operation above in vmware and it did work!
Maybe its the os's problem. i guess.

[2022-11-02 04:46] aviramha commented on #670
No it's our fault. We default to use eth0 since it's the case in the vast majority. We can add interface detection in a simple manner. We will work on adding it soon and let you know once it's ready.

[2022-11-02 05:11] JasonkayZK commented on #670
Well, that's great! Thx! 👍

[2022-11-03 00:45] infiniteregrets commented on #484
Update: the formula is available here: https://github.com/metalbear-co/homebrew-mirrord for linux and macos

However, we need to automate updating the sha256 and the links on every release, so keeping this issue open

[2022-11-03 15:53] infiniteregrets commented on #678
hey @seferino-fernandez, we just released a possible fix for this issue. will you be able to test it out if possible? Thank you!

[2022-11-03 20:01] meowjesty commented on #538
Fields documented by #661

Just need to settle for a file name for the user's `mirrord-config.[json|toml|yaml]`, and then we can close this.

[2022-11-03 21:53] tamasfe commented on #538
I'd suggest picking a name that is as short as possible. Right now I use configs such as as `foo.mirrord.toml`, so something like `.*\.mirrord\.(json|toml|(ya?ml))$` could work imo.

I'd also suggest distributing the schema via the vscode extension as well (orthogonal to the schema store).

[2022-11-04 08:58] eyalb181 opened #684 "Ensure VSCode Extension works when user doesn't have permissions to list namespaces"

[2022-11-04 09:00] eyalb181 opened #685 "Support mirroring/intercepting traffic from entire deployment (all pods)"
Currently when impersonating a deployment we actually impersonate the first pod in it. We should instead support impersonating the entire deployment. This means we should mirror or steal incoming traffic to all the pods rather than just the first one.

[2022-11-04 09:30] #582 closed

[2022-11-04 14:46] jamowei opened #687 "IntelliJ extension: mirrord steals traffic although `MIRRORD_AGENT_TCP_STEAL_TRAFFIC` is set to `false`"
Hi, I discovered a problem, when using the new 3.6.0 version of the IntelliJ extension.
following env vars are set by the extension when starting a debug session with mirrord enabled:
[code]
I would expect that mirrord only mirrors the traffic instead of stealing it. But in my case, mirrord is stealing the traffic although `MIRRORD_AGENT_TCP_STEAL_TRAFFIC` is set to `false`!?
Should it be not set

[2022-11-04 14:57] jamowei commented on #584
Ah ok, thank you. Now I understand your idea better. I would suggest it would be then nice to have an option to present a project based config file for the extension, maybe with a default name (like `mirrord.yaml`) which the extension tries to find and read from. Then after selection a pod mirrord starts right away. I'm right? :)

Yeah, Discord would be an option, but I must see when I have enough

[2022-11-04 15:38] infiniteregrets commented on #687
I am kinda unable to reproduce this issue.. testing with the sample java application you linked, it seems to be working fine? we didn't make any latest changes to the extension for env vars in main branch

[2022-11-04 15:40] jamowei commented on #687
Ok, thanks for the fast reply. Then I have a local problem in my current IntelliJ... I close this for now.

[2022-11-04 15:40] #687 closed

[2022-11-04 16:50] aviramha commented on #677
Thanks for the report.
It's a confirmed issue with macOS new version, we're still investigating what's changed from macOS side. I'll keep this issue updated.

[2022-11-04 18:23] seferino-fernandez commented on #678
Hey @infiniteregrets, thanks for the quick update and support!

Unfortunately I'm now seeing another error.
After I enable mirrord and run my application, I get the error message:
[code]

Here is the stack trace that I get:
[code]
I tried reinstalling the plugin but no luck.

[2022-11-04 20:34] infiniteregrets commented on #678
hey @seferino-fernandez, thanks for checking again! We are introducing an extension-specific env var `DEFAULT_POD_NAMESPACE `, which will allow you to specify the namespace you want to get pods from. by default, this is set to "default", you can override this before running mirrord. I will keep you posted as soon as a new release with the patch is out!

[2022-11-05 10:10] eyalb181 commented on #201
For now just one test should do, where we run a process with mirrord enabled, pick a pod and see that everything starts up properly. No need to then send traffic to the remote pod or anything.

[2022-11-05 13:40] Afourcat commented on #606
Hello again @aviramha,
I managed to start the `mirrord-agent` container alongside the target task.
Now, I'm looking for a way to proxy my local tcp stream to the container without the port forwarding. And I'm not sure how to do it without `socat`.

You mentioned the fact that I would be able to just use stdin/out to communicate with the agent, I'm not sure how.
I understand that the `mirrord-agent

[2022-11-05 15:43] aviramha commented on #606
Great progress!
You can use socat, but if you prefer not to you need to change the mirrord agent to read the traffic from stdin and write output to stdout, while disabling logs (so you won't have interference).
https://docs.rs/async-std/latest/async_std/io/fn.stdout.html
you can use this and need to wrap the Codec with it instead of the tcp socket.

[2022-11-05 16:19] Afourcat commented on #606
Ok !
That was something that I had in mind.
Implementation seems interesting, I will take a look.

[2022-11-06 13:03] aviramha opened #693 "Layer exits on bad connection state"
Layer exits on the following error:
` 2022-11-06T12:55:18.475810Z ERROR ThreadId(10) mirrord_layer: Error handling daemon message: SendErrorConnection(SendError([23, 3, 3, 12, 88, 0, 0, 0, 0, 0, 0, 0, 1, 119, 99, 145, 233, 176, 18, 222, 251, 141, 119, 184, 89, 17, 151, 52, 0, 100, 92, 40, 86, 223, 109, 220, 69, 30, 42, 35, 254, 70, 114, 66,`
This could happen because local/remote connection state

[2022-11-06 15:22] aviramha opened #695 "use custom delve in IntelliJ"
Following https://github.com/metalbear-co/mirrord/pull/694 we need to do the same for IntelliJ.
In case of macOS + Go, we edit the delve command line to use our delve instead of the one provided by homebrew/other means.

[2022-11-06 15:43] #677 closed

[2022-11-06 17:21] #693 closed

[2022-11-07 07:01] aviramha commented on #677
Hey,
We shipped a patch. I tested it and appears to work on my setup. Please let us know if it's okay now.

[2022-11-07 08:33] eyalb181 commented on #527
Closing this in favor of #685

[2022-11-07 08:33] #527 closed

[2022-11-07 12:12] eyalb181 opened #702 "Support filtering IPs for outgoing traffic"
We should let users enable outgoing traffic, but then specify a list of IPs for which outgoing traffic would remain local.

## Motivation
We want to let users mix and match resources to be used, locally and remote.
* For example, if the process sends traffic to localhost, they can configure it to use the local machine's localhost rather than the remote pod's.
* Filtering should be based on protoco

[2022-11-07 12:18] errietta commented on #702
This would be great to have. We have an external API we use, and we have to allow list specific IPs. So we've allowlisted our k8s cluster. I want to be able to call that API, but the code will also write to the db, and I want to write to my local db not the remote one

[2022-11-07 18:10] aviramha commented on #677
You're welcome. Thanks for reporting it :)
We'd actually love to hear some feedback over video if you're up - we want to understand better our user base and make the product even better.
If you're up for it, you can pick [a time slot here.](https://calendly.com/d/drb-fg3-8m2/metalbear-meeting)

[2022-11-07 22:33] #695 closed

[2022-11-08 11:51] #644 closed

[2022-11-08 11:54] aviramha commented on #670
hey @JasonkayZK,
we released a patch that should fix that.
Please let us know if it's working.

[2022-11-09 06:59] aviramha opened #711 "Remove nixOS patch"
Thanks to fixing the kube rs upstream, I believe we can remove the `nix_os_patch` function.
Need to remove it and test.

[2022-11-09 07:11] aviramha opened #712 "Add the ability to pause the remote pod"
Today, mirrord runs side-by-side with the existing pod/s. Many users want to "replace" the remote pod.
I think the best, nicest, approach wouldn't be to really replace the replicaset with our agent, but still run it side by side, making the agent send `SIGSTOP` to the pod's process, then `SIGCONT` when agent finishes running.
This way we're just pausing the activity of the original pod.

Small hin

[2022-11-09 18:13] seferino-fernandez commented on #678
Thanks again @eyalb181 and @infiniteregrets for the support!

I was able to get past this and connect to kubernetes!

[2022-11-09 22:15] t4lz commented on #649
Status update:
https://github.com/metalbear-co/mirrord/pull/706
Makes it possible to run a sip protected binary with mirrord, also via a shebang chain.
However, we don't yet bypass SIP for binaries that are executed by the executed binary. So things like bash scripts, where usually almost each command is starting some SIP protected binaries won't work on Mac as expected yet. Working now on support

[2022-11-09 23:12] t4lz commented on #649
Additional note: we should probably mark all the generated files as excluded from filesystem hooks.
Maybe even walk the shebang chain also on Linux to mark all to be ignored regardless of SIP?

It seems for example that when running a script with this shebang `#!/bin/bash` bash `open`s the file of the script for reading (and does not find it if FS is not disabled).

Are there scenarios where a use

[2022-11-10 06:23] aviramha commented on #649
I agree but the filter should probably be extension of file and that should be general enough.

[2022-11-10 06:24] aviramha commented on #649
Agree. Create an issue on that, we'll probably wait a bit with that as that's pretty edgy, but ofc we want to fix it.

[2022-11-10 09:07] t4lz opened #717 "Save SIP-patched files with their contents' hash in their path."
We should now put a hash of the original file in the path of the patched file, so that if you write a bash script with a shebang, run it with mirrord, we patch it and save it, then you change your script and run it with mirrord again, we now patch the new version, and not use the old patched version.

[2022-11-10 09:08] t4lz commented on #649
Created. https://github.com/metalbear-co/mirrord/issues/717
Should be very easy though, if it's the 1 line change I think it is, I would include it in the PR for this issue, if that's ok.

[2022-11-10 09:13] aviramha commented on #649
Wouldn't bother right now. It might seem simple, but testing/actual running might become complicated.

[2022-11-10 14:05] #176 closed

[2022-11-10 17:24] koolay opened #718 "Example for golang"
I can't find any doc or example for golang.

[2022-11-10 19:39] infiniteregrets commented on #718
hey @koolay, golang should work with mirrord just like any other language. We hooked golang by creating a trampoline between rust and assembly, you can read more about it here https://metalbear.co/blog/hooking-go-from-rust-hitchhikers-guide-to-the-go-laxy/ and also refer to the FAQ https://mirrord.dev/docs/overview/faq/ (in case of statically linked binaries)
In general, please refer to this examp

[2022-11-10 20:14] meowjesty commented on #538
Schema is now distributed in the vscode-extension by #714.

[2022-11-10 20:14] #538 closed

[2022-11-11 06:31] JasonkayZK commented on #670
I tried with the newest version `mirrord 3.8.0`, still got some problems.

[code]

Here are the logs:

[code]

[2022-11-11 08:30] t4lz opened #720 "Add example config file"
For users to use as an example, for an easy and quick place to find settings in, and maybe for copying and using as a template to start their config from.
The documentation of each field should be included directly above it as a comment.
Maybe put the defaults as values of fields that have defaults, or at least comment the default above the field.

It would be nice if this would be generated autom

[2022-11-11 10:42] eyalb181 opened #721 "Inconsistencies in schema documentation"
### Bug Description

There are some documentation inconsistencies.

podname's an error, right? Needs to be pod?
![Screenshot 2022-11-11 at 12 38 20](https://user-images.githubusercontent.com/5508354/201323470-1f9e6ad5-473d-445f-8783-3ae7835c9f36.png)

String should be a valid type.
![Screenshot 2022-11-11 at 12 41 01](https://user-images.githubusercontent.com/5508354/201323613-c3ec50ba-8b56-453a-b

[2022-11-12 12:24] aviramha commented on #718
Closing. Please let us know if we can help.

[2022-11-12 12:24] #718 closed

[2022-11-13 13:22] #663 closed

[2022-11-13 17:45] infiniteregrets opened #725 "vscode extension asks to select pod when specified in the mirrord config file"
If I have the pod specified in the config file, the extension still asks me to select a pod while it should rely on the config. The solution would be to check if the parsed file contains the target, otherwise spawn the dialog

[2022-11-13 17:45] eyalb181 commented on #684
No longer relevant now that the namespace is read from the config file.

[2022-11-13 17:45] #684 closed

[2022-11-14 08:31] eyalb181 commented on #670
Hi @JasonkayZK, apologies for the delayed response. Our newest version (3.9.0) supports a configuration value for specifying which network interface to use. Could you try running it with `MIRRORD_AGENT_NETWORK_INTERFACE=eth1 MIRRORD_AGENT_RUST_LOG="mirrord=trace" MIRRORD_AGENT_TTL=60 mirrord exec --target pod/<pod-name> -- ./main`?

[2022-11-14 08:53] t4lz commented on #649
Status update: while testing the new hook with bash scripts, found out that the children processes get the environment the application (in that case, bash) started with, without the existing-agent variables. So I'm now adding handling for that in the hook (check if env vars passed in `execve` include the agent vars, if they don't create new array that does include and pass that instead).

[2022-11-14 09:43] #583 closed

[2022-11-14 16:37] #725 closed

[2022-11-14 22:09] seferino-fernandez opened #731 "mirrord - Allow Job pod to be configured to run on clusters with security policies"
Hey all! I'm working on another cluster with strict security policies and I'm seeing the Job pod is unable to run due to the security policies set.

The policies that prevented the Job from running are:
- One of the volume types {"hostPath", "projected"} is not allowed, pod: mirrord-agent-q5xtzmfimf-jkvb6. Allowed volume types: ["configMap", "downwardAPI", "emptyDir", "persistentVolumeClaim", "sec

[2022-11-15 04:22] JasonkayZK commented on #670
I tried with:

[code]

Still got:

[code]

Here's the logs:

[code]

[2022-11-15 05:33] infiniteregrets commented on #731
hey @seferino-fernandez, thanks for reaching out! mirrord does need those privileged permissions in order to work, however, using `--ephemeral-container` might work depending on the permissions you have, let us know if it does

[2022-11-15 08:42] aviramha commented on #731
As @infiniteregrets wrote, most of these are required for proper functionality of mirrord.
We're currently working on an operator solution that would do the cluster operations on behalf of the user, then you could specify exempt for the operator without giving elevated/exemption permissions for users.
How does that sound to you ?

[2022-11-15 09:00] mentos1386 commented on #531
@aviramha sorry for the slow response. It does seem to work now :)

[2022-11-15 12:06] aviramha commented on #670
@JasonkayZK sorry I don't have ideas atm, do you want to schedule a debug session using my [calendly](https://calendly.com/aviram-5/30min)?

[2022-11-15 16:43] seferino-fernandez commented on #731
@infiniteregrets Thanks for the response, I'll take a look.

@aviramha That sounds like it could work, looking forward to it!

[2022-11-15 16:58] aviramha commented on #731
Great! It'll help us a lot if you can do an online meeting with us to create our specifications. If you're up for it, feel free to schedule [here](https://calendly.com/d/drb-fg3-8m2/metalbear-meeting).

[2022-11-16 02:13] JasonkayZK commented on #670
Yep, next tuesday works fine with me. And here is the deployment config file, maybe you can test it?

busybox-deploy.yaml
[code]

[2022-11-16 08:44] #664 closed

[2022-11-16 18:04] eyalb181 opened #744 "Capture log clashes with install script"
### Bug Description

The capture log feature creates a folder called /tmp/mirrord. The install.sh tries to create a file called /tmp/mirrord, and if the folder exists it crashes. Need to add a GUID to the filename.

### Steps to Reproduce

Run mirrord with capture log, then run the CLI install script.

### Backtrace

_No response_

### Relevant Logs

_No response_

### Your operating system and ve

[2022-11-16 22:30] t4lz commented on #649
Still missing: support when running from an IDE.

[2022-11-17 06:21] aviramha commented on #649
I believe this should be a separate issue - I think in most cases IDE resolves to the real binary so shebang cases are okay, and usually binaries ran aren't SIP.
Having said that, do create the issue and let's raise suggestions on how it would work, until someone faces it then we'll prioritize it.

[2022-11-17 09:43] t4lz opened #747 "SIP bypassing for main application also on IDE"
We Bypass SIP on two occasions: executing the user's application, and when the application executes other executables.
The first one is currently only done in the CLI, so if a user tries to run a SIP application (Maybe a bash script, if there is IDE support for that?) in the IDE with mirrord, the layer would not be loaded into the application, and the application would run alone.

The second kind

[2022-11-17 09:44] t4lz commented on #649
Tracking SIP IDE support on https://github.com/metalbear-co/mirrord/issues/747 :)

[2022-11-17 12:08] t4lz commented on #747
Whenever there are developments in this issue, **the part about SIP in the [FAQ](https://github.com/metalbear-co/mirrord.dev/blob/main/content/docs/overview/faq.md) should be updated accordingly.**

[2022-11-17 12:47] aviramha opened #749 "`aws s3 ls` cache problem"
When a users calls `aws s3 ls` on macOS, it tries to access a cache from a previous session, printing the filename of the cache for some reason.
I'm thinking for best experience we'll add a patch that returns that this path pattern doesn't exist -> `~/.aws/*/cache`

[2022-11-17 12:48] aviramha opened #750 "stdin/err/out fds behavior"
We have a patch on `write` hook that checks if fd < 2 then runs it locally, though the check shouldn't be required since we use `shm_open` to allocate a real free fd, so if fd `0` is used, and it's managed by us, that should be okay..

[2022-11-17 16:25] eyalb181 opened #753 "`capture-error-trace` doesn't log application errors"
### Bug Description

It seems to only capture mirrord's errors, but if mirrord behaves 'normally' but causes the application to malfunction, we miss it. It also doesn't seem to show the log with the github link.

### Steps to Reproduce

Run mirrord with `capture-error-trace`, e.g.:
`RUST_LOG=mirrord=trace mirrord exec --target deployment/busybox --steal --no-fs --capture-error-trace -x=*  -- npx t

[2022-11-17 17:00] eyalb181 opened #754 "GoLand debugger crashes"
### Bug Description

When debugging in Goland, agent suddenly stops a few seconds after startup.

### Steps to Reproduce

Local process (main.go): https://github.com/bukowa/http-headers
Cluster:  https://github.com/bukowa/charts
User used Kind for the cluster, but might reproduce on other types as well.

Try to debug main.go in GoLand.

### Backtrace

_No response_

### Relevant Logs

[code]

###

[2022-11-17 17:27] eyalb181 opened #756 "mirrord crashes when running `bash -i`"
### Bug Description

The following error is displayed (full logs attached under Additional Info):
`malloc: unknown:0: assertion botched
malloc: block on free list clobbered
Aborting..../.workspace/runtime/src/shell.sh: line 6: 383940 Aborted                 (core dumped)`

It's not a memory thing though.

### Steps to Reproduce

Run `bash -i` with mirrord

### Backtrace

_No response_

### Relevan

[2022-11-17 17:34] eyalb181 opened #757 "mirrord crashes when process runs AWS STS Request"
### Bug Description

See description.

### Steps to Reproduce

Gist, including logs and repro steps, here:
https://gist.github.com/mentos1386/749f2b60c57adbb201a610700b1a0066#file-repro-ts

### Backtrace

_No response_

### Relevant Logs

_No response_

### Your operating system and version

TBD (some Linux)

### Local process

npx

### Local process version

_No response_

### Additional Info

_N

[2022-11-18 09:24] mentos1386 commented on #757
Your operating system and version:
[code]

Local process version:
[code]

[2022-11-18 14:46] aviramha opened #760 "macOS aarch docker fails loading into process"
### Bug Description

`ERROR: ld.so: object '/tmp/15400847706573547401-libmirrord_layer.so' from LD_PRELOAD cannot be preloaded (cannot open shared object file): ignored.`

### Steps to Reproduce

https://gist.github.com/mentos1386/749f2b60c57adbb201a610700b1a0066#file-dockerfile

### Backtrace

_No response_

### Relevant Logs

_No response_

### Your operating system and version

macOS m1

### Lo

[2022-11-18 15:57] t4lz commented on #649
SIP supported with the exceptions of #747 and the theoretical situation described in https://github.com/metalbear-co/mirrord/pull/759#issuecomment-1319969427.

[2022-11-18 15:57] #649 closed

[2022-11-18 17:21] #760 closed

[2022-11-19 12:43] aviramha commented on #756
It doesn't happen when running just bash, without `-i`. I'm not sure what that even means in this context.
It seems to happen 80% of the time, attaching relevant logs.
https://gist.github.com/aviramha/9d7a003b1c177eab3a0ba058c14eb9fa

[2022-11-19 13:25] aviramha commented on #756
I investigated deeper, and found out that it seems fixing this would require quite big change (it seems like a ctor/tokio/parking_lot integration issue, where ctor shouldn't be used to create threads.. and changing this behavior might cause new problems).
I tend to believe that this use case is very niche, especially that it doesn't happen with regular bash + without specifying `-i`. @mentos1386 p

[2022-11-19 14:13] aviramha commented on #756
I think that #763 solves it/reduces the odds of the crash, yay? :)

[2022-11-20 07:35] aviramha commented on #753
not sure if we can do that tbh.. the app writes to stdout/err and making it work sounds complicated.

[2022-11-20 10:39] aviramha commented on #756
We just released 3.11. Please let us know if that fixed it for you.

[2022-11-20 15:21] eyalb181 commented on #753
I'm not sure it's worthwhile to have the feature otherwise - might lead people to just send us unhelpful logs (rather than just running with RUST_LOG=trace and copy-pasting).

[2022-11-21 09:01] #756 closed

[2022-11-21 09:17] #484 closed

[2022-11-21 20:25] mentos1386 commented on #757
I'm debugging this a bit more. It seems that it's not an aws-sdk specific issue. It seems that the first request done "hangs" while the rest of them work. This even works if the first request is done to some other hostname.

Not sure what's going on here.

[code]

Logs
[code]

[2022-11-21 20:33] mentos1386 commented on #757
Might be related to #564? Not sure why I'm experiencing this issues even though the e2e test[1] should catch this?

[1] https://github.com/metalbear-co/mirrord/blob/main/tests/node-e2e/outgoing/test_outgoing_traffic_many_requests.mjs

[2022-11-22 02:10] JasonkayZK commented on #670
I figured it out! It does my develop machine's network problem.

[2022-11-22 02:12] #670 closed

[2022-11-22 07:50] aviramha commented on #757
I had/have an assumption that it's a file that needs to be loaded remotely that we're not loading, not sure why the weird error though.

[2022-11-22 08:28] mentos1386 commented on #757
Reading file seems to work fine.

Looking at the source[1] and running just the `readFileSync` code works okay for me. I get the contents but one of the requests still fails.

[1] https://github.com/aws/aws-sdk-js-v3/blob/main/packages/credential-provider-web-identity/src/fromTokenFile.ts#L27-L42

[2022-11-22 09:16] aviramha commented on #757
I remember that in the trace you sent there was a read file contents just as same time as the SSL error, that's why I thought it might be the problem.
@eyalb181 is working on reproducing it on our end so we can fix it. Sorry for the inconvenience and thanks for providing more information!

[2022-11-22 11:47] 1grzyb1 opened #772 "Passing cli arguments from pod to local application"
We pass the configuration to our application inside pod containers through CLI arguments.
So for example my container definition inside the pod will look like that:
[code]
So I would like those properties to be passed as cli arguments in the same order as in args to my local app just like env variables are passed

[2022-11-23 07:25] aviramha opened #780 "Extension <> CLI Interface"
Make the extensions use the CLI.

1. CLI will provide targetable pods/deployments, instead of having it implemented separately in each extension.
2. It will pass command line arguments and environment variables passed on command line to the process. This should resolve #772 .
3. It will create the agent for the process, which will let us pass environment variables to it from the outside. This will

[2022-11-24 09:09] t4lz opened #786 "No such command `exec` when running (pyenv) python3 with logs on Mac"
### Bug Description

Running python fails, but only when running with a log level below `warn` (`info`/`debug`/`trace`).

### Steps to Reproduce

1. compile the universal mirrord binary by running:
[code]
2. Run python with mirrord with log level `info`:
[code]
    this fails with:
[code]
3. Now run with log level `trace`:
[code]
    And there also seems to be some infinite loop.

### Backtrace

_

[2022-11-24 11:02] aviramha commented on #786
This is probably due to script using output of another process.
I'm not sure if and how we can fix it though.
Leaving it open for now.

[2022-11-27 14:05] t4lz commented on #712
Should we use [docker's `pause` command](https://docs.docker.com/engine/reference/commandline/pause/#examples) if docker is the container's runtime?

And maybe if it's not docker we can still use [cgroup freezer](https://www.kernel.org/doc/Documentation/cgroup-v1/freezer-subsystem.txt) which is apparently what docker uses to pause?

[2022-11-27 18:00] aviramha commented on #712
I wouldn't bother with `docker` pause as it's not the common runtime.
`cgroup freezer` sounds cool but also overkill for now if we already went with the sigstop..

[2022-11-27 20:05] t4lz opened #788 "Keep cargo cache for agent's docker image build"
Building the image can take a couple of minutes, which slows down development when working on the agent. The longest step is of course building the code with cargo.
If this doesn't somehow already automatically happen, we should make sure cargo's build cache is saved and reused over docker builds.

For anyone also working on the agent: for compiling the agent on mac (without building the image) yo

[2022-11-27 20:59] t4lz commented on #712
Saw your reply too late. But now we have a neat implementation using the docker/containerd API to pause the container instead of doing it ourselves :)

[2022-11-28 00:10] niconatalie opened #789 "Mounted filesystem/configmap/secret not working"
### Bug Description

Hi, I have golang application running in k8s cluster and it mounted volumes from secrets and configmap, but when I run the application, it fails because it cannot find the path to the directory.

### Steps to Reproduce

1. Have running application on k8s with mounted volumes from configmap and secrets.
[code]
2. Run `mirrord exec ./main --target pod/<pod-name>`

### Backtrace

[2022-11-28 06:02] aviramha commented on #789
hey @niconatalie
Sorry about the issue. This probably happens because `/etc/*` is excluded by default.
We're working on making the exclusions more fine-grained, meanwhile you can try to run mirrord with env var
`MIRRORD_FILE_FILTER_INCLUDE=/etc/config` and that should bypass the exclusion. Note that when using include it will include only those files, so if you need more files you can build a rege

[2022-11-28 07:52] niconatalie commented on #789
@aviramha I see, thank you for information and the tips. I will try it

[2022-11-28 08:31] aviramha commented on #757
Hey,
I ran the same repro and it worked - >
[code]
I think we might have fixed it with our last release, where we moved agent creation to the cli.

[2022-11-28 11:20] aviramha opened #793 "Update clap to v4"
I tried upgrading but it ended up with disabled_udp test lingering forever.
Not important enough atm..

[2022-11-28 12:29] mentos1386 commented on #757
@aviramha i can still recreate the issue on `3.11.2`. Did you ever managed to reproduce it?

[2022-11-28 12:30] aviramha commented on #757
No I couldn't test it also on older version since "aarch" build was broken :(
I used your Dockerfile and instructions, on a vanilla EKS cluster.
Do you want to do an interactive debug session maybe?

[2022-11-28 13:59] #793 closed

[2022-11-28 14:04] t4lz opened #795 "Add the pause feature also for ephemeral agent containers."
https://github.com/metalbear-co/mirrord/issues/712 for ephemeral.

[2022-11-28 17:22] t4lz commented on #712
Is adding this feature to the IDEs part of this issue or should I open separate issues for that?
(PRs would be separate either way I guess)

[2022-11-28 18:15] aviramha commented on #712
No, this feature should be possible to enable from the config file - VS Code already uses it and IntelliJ is underway.

[2022-11-30 00:29] nobleach opened #800 "Using asdf as a version manager fails to find a version of NodeJS/NPM"
### Bug Description

When using asdf as my version manager for a bunch of languages, I cannot mirror any apps into a local k8s cluster.

I get the same message as if I had forgotten to set a local or global version for `node`. I'm sure this is somehow related to running in a different context than if I were running locally... I'm just confused. Running the same command without `mirrord exec` does

[2022-11-30 01:04] t4lz commented on #800
Hi, @nobleach, thanks for reporting this issue!
You are right, mirrord might be forwarding the reading of the `.tool-versions` file to the pod instead of letting it happen locally. In the recent versions of mirrord, access to files in the home directory should happen locally by default.
Could you please also tell me the version of mirrord you are using (`mirrord --version`)?
If you could also run

[2022-11-30 01:44] nobleach commented on #800
Yes definitely. `mirrord 3.11.2`
Logs:
[code]

[2022-11-30 02:31] nobleach commented on #800
Ok, looking at the source, that env var should really just take `debug` instead of `mirrord=debug`. So here's a more detailed log:

[code]

[2022-11-30 12:15] liaddrori1 opened #803 "VS code extentsion not working well with NVM"
### Bug Description

I use nvm to manage my node versions on my computer.

## Some background about nvm that I think is related:
The way NVM loads and manages node & npm versions are by using the .zshrc/.bashrc file, every time you load a shell, it reconfigures your node version. so without running the nvm script during shell creation, you will not find node & npm in your PATH.

## My bug:
When la

[2022-11-30 12:19] aviramha commented on #803
Thanks for the detailed reported! We will investigate and try to resolve it ASAP :)

[2022-11-30 15:49] aviramha commented on #749
Should be fixed by #785

[2022-11-30 15:49] #749 closed

[2022-11-30 15:53] aviramha commented on #789
Hey,
just a heads up, we released a new version that supports better control over files.
For your use case you can use
[code]
This will override our regex and make it read those `etc` files from remote even though we exclude it by default (we exclude `/etc/`)

[2022-11-30 16:21] aviramha commented on #800
Congrats! You opened issue #800  :)
I'm looking into it and will update you asap.

[2022-11-30 17:08] aviramha commented on #800
Hey, I think I found the issue. `asdf` likes to mess with `/tmp` and we made some of its calls go to the remote, making it fail. We added `/tmp` to be excluded from the intercepted file operations, as in most cases you wouldn't want to read `/tmp`, and if you do - you can still by specifying it (overriding).
I'll try to release 3.12.1 today for you :)

[2022-11-30 18:57] infiniteregrets commented on #803
hi @liaddrori1,

do you see the see similar behavior when running with the CLI? perhaps the process you are running forks? which is why you see that many pods

I tried to reproduce the issue but wasn't able to. I had a homebrew installation for node, I uninstalled it and then installed nvm. Then ran `nvm install 17.0.0 && nvm use 17.0.0`. I ran with vscode after this and got this error message alo

[2022-11-30 21:09] aviramha commented on #800
I released 3.12.1 - It will take about an hour until it's available to download. Please let us know if its working now!

[2022-11-30 22:46] nobleach commented on #800
Wow I can't thank you enough for looking into it so quickly! I'll try the release out this evening!

[2022-11-30 23:08] nobleach commented on #800
Looks like v3.12.1 exhibits the same behavior. These last log lines:
[code]